<div class="barra">

  <!-- <img  class="logo"  src="assets/img/white_banner.png"> -->


  <br>
  <br>
  <br>
  <br>



  <!-- <mat-select [(ngModel)]="persona.idtper" [(value)]="selectedtp" (selectionChange)="tipoChange($event)">
    <mat-option *ngFor="let tp of selectTPersonal" value="{{tp.idtper}}">{{tp.tipo}}</mat-option>
  </mat-select> -->

  <div class="dropdown">
    <i class="mdi correo">Sucursal:{{nombresucu}} </i>



    <img src="{{API_ENDPOINT}}/perfiles/Administradores/{{foto}}" alt="user" class="rounded-circle dropdown-toggle imgRedonda"
      data-toggle="dropdown">




    <ul class="dropdown-menu">
      <!-- <li><a href="#" >HTML</a></li> -->
      <li><a class="mdi mdi-account-circle " [routerLink]="['/perfiladmin']"> Perfil </a></li>
      <!-- <li><a class="mdi mdi-web " [routerLink]="['/sucursales']"> Sucursales</a></li> -->
      <!-- <li><a class="mdi mdi-chart-line " [routerLink]="['/estadisticas']"> Estadisticas</a></li> -->
      <li class="danger "><a class="mdi mdi-power icono" (click)="logout();"> Salir</a></li>

    </ul>
  </div>

</div>

<header>

  <input type="checkbox" id="btn-menu">
  <label for="btn-menu" class="mdi mdi-view-headline" (click)="click();"></label>
  <nav class="menu">
    <ul>

      <div id="navbar8" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown
              <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li class="dropdown-header">Nav header</li>
              <li><a href="#">Separated link</a></li>
              <li><a href="#">One more separated link</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <li><a [routerLink]="['/home']"> Inicio </a></li>
      <li class="submenu"><a> Usuarios<span class="mdi mdi-arrow-down " id="btn-menus"></span></a>
        <ul>
          <li><a [routerLink]="['/personal']" href="javascript:void(0);">Personal</a></li>
          <li><a [routerLink]="['/tipopersonal']" href="javascript:void(0);">Tipo Personal</a></li>
          <li><a [routerLink]="['/alumnos']" href="javascript:void(0);">Alumnos</a></li>
          <li><a [routerLink]="['/escuelas']" href="javascript:void(0);">Escuelas</a></li>
          <li><a [routerLink]="['/horarios']" href="javascript:void(0);">Horarios</a></li>




        </ul>
      </li>
      <!-- <li><a > Pagos</a> </li> -->

      <li class="submenu "><a> Administracion <span id="btn-menus" class="mdi mdi-arrow-down"></span></a>
        <ul>
          <li><a [routerLink]="['/estadisticas']" href="javascript:void(0);"> Estadisticas</a></li>
          <!-- <li><a [routerLink]="['/tipopago']" href="javascript:void(0);">Tipos de Pago</a></li> -->
          <li><a [routerLink]="['/tipomembresia']" routerLinkActive="router-link-active" >Membresias</a></li>
          <!-- <li><a [routerLink]="['/codigos']" href="javascript:void(0);">Codgios de descuento</a></li> -->

        </ul>
      </li>
      <li class="submenu "><a> Planeaciones <span id="btn-menus" class="mdi mdi-arrow-down"></span></a>
        <ul>
                
                <li><a [routerLink]="['/clases']" routerLinkActive="router-link-active">Asignar sesiones</a></li>
                <li><a [routerLink]="['/homefclases']">Busqueda de Sesiones</a></li>
                
                
                    
             <li class="submenu "><a> Catalogos <span id="btn-menus" class="mdi mdi-arrow-down"></span></a>
                <ul>
                  <li><a [routerLink]="['/areadelconocimiento']">Area de Conocimiento</a></li>
                  <li><a [routerLink]="['/subareac']" routerLinkActive="router-link-active">Sub Area Conocimiento</a></li>
                  <li><a [routerLink]="['/tema']">Temas</a></li>
                  <li><a [routerLink]="['/subtema']">Subtemas</a></li>
                  <li><a [routerLink]="['/grados']">Grados</a></li>
                  <li><a [routerLink]="['/nivel']">Niveles</a></li>
                  <li><a [routerLink]="[ '/inactive']">Inactivos</a></li>
                </ul>
        </ul>
      </li>


    </ul>

  </nav>

</header>
<br>

<br>
<div>

  <img src="../assets/images/banner.jpg" alt="" class="banner">
</div>


<!-- 
<form  #loginForm="ngForm" (ngSubmit)="nombre(loginForm)"> 
    <label  for="email">Correo electrónico</label>
    <input type="text" value="" name="subname" id="email" [(ngModel)]="em" ngModel placeholder="Ingrese correo electrónico" class="form-control"  required >
     -->
<!-- <li [(ngModel)]="SelCountryId">
        <a *ngFor="let ho of _allHoras | async" >
          {{ho.subname}} 
         </a>
       </li> -->

<!-- Error: email incorrecto -->
<!-- <button class="btn btn-primary w-md waves-effect waves-light waves-effect waves-light "  id="sa-params" style="filter: drop-shadow(5px 5px 10px #444);"type="submit">Iniciar Sesión</button>

</form> -->

<!-- <ul>
  <li *ngFor="let item of nombre_array; let i = index">
    {{i}}. {{ item }}
  </li>
</ul> -->



<!-- 
Funcion chingona si sirve
        <div   *ngFor="let ho of _allHoras | async ; " >
          <input #subname type="text " [(ngModel)]="ho.subname" >
          <button (click)="print(subname.value)">Print</button>  
        </div>
       -->