<app-navbar></app-navbar>
<br>
<br>
<br>
<br>
<div class="col-xl-12 col-md-12 body">
  <div class="col-xl-12 col-md-12 ">
      <div class="card bg-light mini-stat position-relative">
            <div class="card-body">

               

                  

                <div class="col-xl-12">
                    <div class="row">
                      <div class="col-xl-4">
                        <h3 class="fecha">Fecha:12/09/19</h3>
                      </div>
                      <div class="col-xl-4">
                        <br>
                        <p class="centro rec">Recomendacion:10 alumnos
                            <button mat-icon-button>
                                    <mat-icon aria-label="Edit">edit</mat-icon>
                                </button>
                        </p>
                        
                          <h1>Nombre de la sesion:Maker</h1>
                          <hr class="titulo"/>
                          
                      </div>
                      <div class="col-xl-4">
                        <h3 class="folio">Folio: 321879128312</h3>
                      </div>
                
                
                    </div>
                
                
                  </div>
                  <div class="row">
                      <div class="col-xl-4">
                        <h3>Nivel:dsasddsa</h3>
                        <br>
                        <h3>SEP(subarea):sdasdsda</h3>
                      </div>
                      <div class="col-xl-4">
                        <h3 class="centro">Grado:1ero</h3>
                        <br>
                        <h3 class="centro">Tema:nose</h3>
                        <br/>
                        <h2>Objetivo:asdssd</h2>
                        <hr class="titulo"/>
                      </div>
                      <div class="col-xl-4">
                        <h3 class="centro">Area del conocimiento: dfdfs</h3>
                        <br>
                        <h3 class="centro">Subtema:sdasd</h3>
                      </div>
                    </div>
                 



<div >

<br/>
<mat-tab-group [selectedIndex]="selected.value">
<mat-tab *ngFor="let tab of tabs; let index = index;" [label]="tab">
<div class="row">
  <div class="col-xl-4">
  <h3 >Aprendizajes Clave</h3>
  <br>
  <p>sdsdsasadsdsda</p>
  </div>
  <div class="col-xl-4">
  </div>
  <div class="col-xl-4">
  <h3 class="materiales">Material Necesarios</h3>
  <br>
  <p class="materiales">sdsdsasadsdsda</p>
</div>
</div>
<br>
<h3>Introduccción:</h3>
<p>sokdsñaskdñlasdñlkas</p>
<br>
<h3>Contenido:</h3>
<p>sokdsñaskdñlasdñlkas</p>
<br>
<h3>Desarrollo:</h3>
<p>sokdsñaskdñlasdñlkas</p>
<br>
<a>Ice break:</a>
<p>sokdsñaskdñlasdñlkas</p>
<br>
<a>Descanso:</a>
<p>sokdsñaskdñlasdñlkas</p>
<br>
<a>Cierre:</a>
<p>sokdsñaskdñlasdñlkas</p>
<br>

</mat-tab>
</mat-tab-group>


</div>
</div>
</div>
</div>
</div>


<app-fotter></app-fotter>
