<app-navbar></app-navbar>
<div class="container card bg-light">

  <div class="col-md-12 card-body">
    <mat-progress-bar mode="indeterminate" [ngStyle]="{'display':barra}"></mat-progress-bar>


    <div class="row">
      <div class="col-md-5">
        <h4>Fecha: <strong>{{fecha}}</strong></h4>
      </div>
      <div class="col-md-5 ml-auto">
        <h4 class=" ">Folio: <strong>{{folio}}</strong> </h4>
      </div>

    </div>

    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <h1 class="text-center">
          Tema: <strong>{{plan.ntema}}</strong>
          <span><button mat-icon-button class="text-success" (click)="editDetalle()">
              <mat-icon aria-label="Edit">edit</mat-icon>
            </button>
          </span>
        </h1>
        <hr class="titulo">
      </div>
      <div class="col-md-4"></div>
    </div>

    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <h2 class="text-center">Subtema: <strong>{{plan.nt}}</strong> </h2>
        <hr class="titulos">
      </div>
      <div class="col-md-4"></div>
    </div>

    <div class="row">
      <div class="col-md-10">
        <h3>Nivel: <strong> {{plan.n}} </strong> </h3>
      </div>
      <div class="col-md-2 ml-auto">
        <h3 class="">Grado: <strong> {{plan.g}} </strong></h3>
      </div>
    </div>



    <div class="row">
      <div class="col-md-4">
        <h4 class="text-center">Area(s) del conocimiento</h4>
        <hr class="subtitulo">
        <ul *ngFor="let dc of detalleClases">
          <li [style.display]="dc.ac == null ? 'none' : ''">{{dc.ac}}</li>
        </ul>
      </div>
      <div class="col-md-4">
        <h4 class="text-center">Sub Area(s) del conocimiento</h4>
        <hr class="subtitulo">
        <ul *ngFor="let dc of detalleClases">
          <li [style.display]="dc.sac == null ? 'none' : ''">{{dc.sac}}</li>
        </ul>
      </div>
      <div class="col-md-4">
        <h4 class="text-center">Herramientas:</h4>
        <hr class="subtitulo">
        <ul *ngFor="let dc of detalleClases">
          <li [style.display]="dc.h == null ? 'none' : ''">{{dc.h}}</li>
        </ul>
      </div>
    </div>

    <div class="text-center">
      <br>
      <span class="text-muted"><strong class="ast">*</strong>Clase recomendada para <strong> {{plan.no_alu}} </strong>
        alumnos.</span>
      <span class="text-muted">Este Subtema cuenta con <strong> {{sesiones.length}} </strong> sesiones.</span>
    </div>

  </div>

  <div class="row">
    <mat-tab-group color="warn" [selectedIndex]="selected.value" class="col-md-12">
      <mat-tab *ngFor="let ses of sesiones; let i = index;" [label]="tabs[i]" class="col-md-12">
        <div class="row">
          <div class="col-md-12 text-right ">
            <img src="https://cdn.pixabay.com/photo/2017/03/08/21/20/pdf-2127829_960_720.png" (click)="pdf(ses)">

          </div>

        </div>
        <h2>Nombre de la sesión: <strong>{{ses.nombre}}</strong>
          <span>
            <button mat-icon-button class="text-success"
              (click)="editSes(ses.idsesion, ses.nombre, ses.objetivo, ses.apren_clave,
            ses.introduccion, ses.contenido, ses.desarrollo, ses.mat_necesario, ses.ice_break, ses.descanso, ses.cierre, i)">
              <mat-icon aria-label="Edit">edit</mat-icon>
            </button>
          </span>
        </h2>
        <h3 class="text-center">Objetivo: <strong>{{ses.objetivo}}</strong> </h3>
        <hr class="titulo">

        <div class="col-md-12">
          <div class="col-md-6">
            <p><strong>Aprendisajes clave:</strong> {{ses.apren_clave}} </p>

            <p> <strong>Introducción:</strong> {{ses.introduccion}} </p>

            <p> <strong>Contenido:</strong> {{ses.contenido}} </p>

            <p> <strong>Desarrollo:</strong> {{ses.desarrollo}} </p>

          </div>
          <div class="col-md-6">
            <p><strong>Material necesario:</strong> {{ses.mat_necesario}} </p>
            <p> <strong>Ice Break:</strong> {{ses.ice_break}} </p>
            <p> <strong>Descanso:</strong> {{ses.descanso}} </p>
            <p> <strong>Cierre:</strong> {{ses.cierre}} </p>
          </div>
        </div>
        <div class="text-right">
          <button mat-icon-button class="text-danger" (click)="deleteSesion(ses.idsesion, ses.nombre, i)">
            <mat-icon aria-label="Delete">delete</mat-icon>
          </button>
        </div>
        <h3>Archivos</h3>
        <div class="row">
          <mat-tab-group>
            <mat-tab label="Manuales">
              <!-- Tab content -->
                  <div class="col-md-2 container-file" *ngFor="let file of files[i]">
                      <mat-card class="example-card" *ngIf="file.tipo == 1">
                        <mat-card-header>
                        </mat-card-header>
                        <img class="text-center" (click)="downloadFile(file)" matTooltip="{{file.filename}}" width="50"
                          src="assets/icons/file type/{{file.vprev}}" alt="Photo of a Shiba Inu">
                        <mat-card-content class="icono-file" matTooltip="{{file.filename}}">
                          <span (click)="downloadFile(file)">{{file.filename}}</span>
                        </mat-card-content>
                        </mat-card>
                    </div>
              
              <!--  End Tab Content -->
            </mat-tab>

            <mat-tab label="Programacion">
              <!-- tab content -->
              <div class="col-md-2 container-file" *ngFor="let file of files[i]">
                      <mat-card class="example-card" *ngIf="file.tipo == 2">
                        <mat-card-header>
                        </mat-card-header>
                        <img class="text-center" (click)="downloadFile(file)" matTooltip="{{file.filename}}" width="50"
                          src="assets/icons/file type/{{file.vprev}}" alt="Photo of a Shiba Inu">
                        <mat-card-content class="icono-file" matTooltip="{{file.filename}}">
                          <span (click)="downloadFile(file)">{{file.filename}}</span>
                        </mat-card-content>
                        </mat-card>
                    </div>
              <!-- end tab content -->
            </mat-tab>

            <mat-tab label="Presentaciones">
              <!-- tab content -->
              <div class="col-md-2 container-file" *ngFor="let file of files[i]">
                      <mat-card class="example-card" *ngIf="file.tipo == 3">
                        <mat-card-header>
                        </mat-card-header>
                        <img class="text-center" (click)="downloadFile(file)" matTooltip="{{file.filename}}" width="50"
                          src="assets/icons/file type/{{file.vprev}}" alt="Photo of a Shiba Inu">
                        <mat-card-content class="icono-file" matTooltip="{{file.filename}}">
                          <span (click)="downloadFile(file)">{{file.filename}}</span>
                        </mat-card-content>
                        </mat-card>
                    </div>
              <!-- end tab content -->
            </mat-tab>

            <mat-tab label="Planeaciones">
              <!-- tab content -->
              <div class="col-md-2 container-file" *ngFor="let file of files[i]">
                      <mat-card class="example-card" *ngIf="file.tipo == 4">
                        <mat-card-header>
                        </mat-card-header>
                        <img class="text-center" (click)="downloadFile(file)" matTooltip="{{file.filename}}" width="50"
                          src="assets/icons/file type/{{file.vprev}}" alt="Photo of a Shiba Inu">
                        <mat-card-content class="icono-file" matTooltip="{{file.filename}}">
                          <span (click)="downloadFile(file)">{{file.filename}}</span>
                        </mat-card-content>
                        </mat-card>
                    </div>
              <!-- end tab content -->
            </mat-tab>

          </mat-tab-group>

        </div>
      </mat-tab>
    </mat-tab-group>
  </div>

</div>
<app-fotter></app-fotter>