h1,h2{
    text-align: center;
  }

  a{
      font-size: 20px;
  }
  .centro{
        text-align: center;
  }
  .titulo{
    background-color: #db36a4; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 70%;
    height: 1px;
    }

.lineas{
    background-color: #db36a4; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 40%;
    height: 1px;
    text-align: left;

}
.titulos{
    background-color: #db36a4; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 40%;
    height: 1px;

}

.materiales{
    text-align: right;
}
.folio{
    text-align: right;
}
.fecha{
    text-align: left;
}
.rec{
    color: goldenrod;
}

.subtitulo{
   background-color: #EF6623;
    width: 70%;
    height: 1px;
    
}

.ast{
    color:crimson;
    font-size: 20px;
}
img{
    width:70px;
    height:auto;
}

/* @media (max-width: 987px) {
    .fecha{
        text-align: center;
        width: 100%;
    }

  } */