<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3 class="text-center">Nueva Sub Area</h3>
    <hr>
    </div>
  </div>  
  <br>

  <div class="row">
    <div class="col-md-12">
      <form #formControl="ngForm">
        <mat-form-field>
          <input matInput placeholder="Sub area del conocimiento" class="text-center" [(ngModel)]="data.nombre" name="subarea" required>
          <mat-error *ngIf="fControl.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </form>
    </div>
  <br>


  <div class="row">
    <div class="col-md-12">
      <div class="col-md-6">
        <button class="btn btn-success" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="confirmAdd()">Guardar</button>
      </div>
      <div class="col-md-6">
        <button class="btn btn-danger" (click)="onNoClick()" tabindex="-1">Cancelar</button>
      </div>
    </div>
  </div>
  </div>

</div>