<div class="container" style="height: 200px;">
  <h3 mat-dialog-title style="text-align: center;">Nuevo registro</h3>

  <form style="height: 170px;" #formControl="ngForm">

    <div class="form">
      <mat-form-field color="accent">
        <input matInput placeholder="Nombre" [(ngModel)]="data.nombre" name="nombre" required >
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <div mat-dialog-actions>
      <button class="btn btn-success" [mat-dialog-close]="1" [disabled]="!formControl.valid" (click)="confirmAdd(data)" style="margin: 0 40px 0 20px;">Guardar</button>
      <button class="btn btn-danger" (click)="onNoClick()" tabindex="-1">Cancel</button>
    </div>
  </form>
</div>
