<div class="container" style="height: 200px;">
  <h3 mat-dialog-title style="text-align: center;">Nuevo registro</h3>

  <form  (ngSubmit)="submit" #formControl="ngForm" style="height: 170px;">

    <div class="form">
      <mat-form-field color="accent">
        <input matInput placeholder="Nombre" [(ngModel)]="data.nombre" name="nombre">
      </mat-form-field>
    </div>

    <div mat-dialog-actions>
      <button class="btn btn-success" [type]="submit"  [mat-dialog-close]="1" (click)="confirmAdd()" style="margin: 0 40px 0 20px;">Guardar</button>
      <button class="btn btn-danger" (click)="onNoClick()" tabindex="-1">Cancel</button>
    </div>
  </form>
</div>
