<div class="container">
  <h1 mat-dialog-tittle>¿Olvidaste tu contraseña?</h1>

  <div mat-doalog-content>
    <p>Introduce tu correo electronico y te enviaremos un correo con detalles para recuperar tu contraseña</p>
    <form action="" #formControl="ngForm">
      <div class="row">
        <mat-form-field appearance="outline" class="col-md-10">
          <input matInput #input  placeholder="Correo electronico" [(ngModel)]="datos.email"
            name="nomalu" required email [formControl]="fControl">
          <mat-error *ngIf="fControl.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>
    </form>
    <div mat-dialog-actions class="row">
      <button class="btn btn-success" [disabled]="!formControl.valid || !fControl.valid" [mat-dialog-close]="1" (click)="confirmEmail(datos.email)">Enviar email</button>
      <button class="btn btn-danger" (click)="onNoClick()" tabindex="-1">Cancelar</button>
    </div>
  </div>
</div>