@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
table {
  width: 100%;
}

.mat-form-field {
  font-size: 20px;
  width: 100%;
}

td, th {
  width:7%;
}

        .table-hover{
    background-color:white;
                    }
     table tr:hover {
                    background-color:#AED6F1;
                    cursor: pointer;
                    
                  
                    }
