 <app-navbar></app-navbar>   
<div  class="encabezado"></div>
<div class="col-xl-12 col-md-12  imagenandname" >
        <form (ngSubmit)="upload();">
        <div class="containerss rounded-circle " for="nuestroinput">
        <label for="nuestroinput" id="prueba"  class=" rounded-circle "> 
                <img src="assets/perfiles/Personal/{{datos.fotopersonal}}"for="nuestroinput"   class="image rounded-circle" >
                </label>
                <div class="overlay rounded-circle">
                  <div class="text rounded-circle">
        <label for="nuestroinput" id="prueba"  class=" rounded-circle "> 
                        <img class="rounded-circle shadow pequeña jaja " for="nuestroinput"  src="https://cdn.pixabay.com/photo/2017/02/07/02/16/cloud-2044823_960_720.png"
                        data-holder-rendered="true">
            </label>
        <input type="file"  id="nuestroinput" class="rounded-circle perfilimagen" accept="image/*" (change)="seleccionarArchivo($event)">
                  </div>
                </div>
                <button [ngStyle]="{'display': btnChange}" class="btn btn-primary btn-sm"> ACTUALIZAR FOTO </button>
              </div>
              <br>      
        <br>
    </form>
    <label  class="labeltitulo"> {{datos.nombre}} {{datos.apellidos}} 
        <button mat-icon-button (click)="editPersonal(datos.idper, datos.nombre,datos.apellidos,
        datos.usuario, datos.contra, datos.fechanac, datos.sexo, datos.curp,
        datos.estadocivil, datos.domicilio ,datos.fechaingreso, datos.horaentrada, datos.horasalida,
        datos.perfilprofesional, datos.especialidad, datos.tareasasignadas, datos.salariomensual,
        datos.idtper, datos.fotopersonal)">
        <mat-icon aria-label="Edit">edit</mat-icon>
    </button></label>
      <mat-progress-bar color="warn"  mode='indeterminate' [ngStyle]="{'display':barra}"></mat-progress-bar>
</div>
<div class="row col-xl-12 fondodb" >
      <div class="col-xl-4">
            <br>
            <i class="mdi mdi-key-variant"> </i> <label> ID: </label>
            <span> {{datos.idper}} </span>
            <br>
            <i class="mdi mdi-key-variant"> </i> <label> Nombre: </label>
            <span> {{datos.nombre}} </span>
            <br>
            <i class="mdi mdi-cake-variant fecha"> </i> <label> Fecha de nacimiento: </label>
            <span> {{datos.fechanac}} </span>
            <br>
            <i class="mdi mdi-account-multiple sexo"> </i> <label> Sexo: </label>
            <span> {{datos.sexo}} </span>
            <br>
            <i class="mdi mdi-city domicilio"> </i> <label> Domicilio: </label>
            <span> {{datos.domicilio}} </span>
            <br>
            <i class="mdi mdi-account"> </i> <label> Perfil profesional: </label>
            <span> {{datos.perfilprofesional}} </span>
            <br>
            <i class="mdi mdi-account-star-variant"> </i> <label> Especialidad: </label>
            <span> {{datos.especialidad}} </span>
            <br>
            <i class="mdi mdi-calendar-text horario"> </i> <label> Fecha de ingreso: </label>
            <span> {{datos.fechaingreso}} </span>
            <br>
            <i class="mdi mdi-cash"> </i> <label> Salario mensual: </label>
            <span> {{datos.salariomensual}} </span>
            <br>
            <i class="mdi mdi-clock"></i><span><label>Entrada: {{datos.horaentrada}} <label><i
                            class="mdi mdi-clock-fast"></i> Salida: {{datos.horasalida}}</label></label></span>
        </div>
        <div class="col-xl-8" style="max-width: none;">
        <!-- ----------------------- Tabs ----------------------- -->
<mat-tab-group >
    <!-- Tab de membresia -->
    <mat-tab style="width: 90%">
      <ng-template mat-tab-label>
        <i class="mdi mdi-account-card-details membresia"></i>
        Horario Laboral
      </ng-template>
      <div class="container" [ngStyle]="{'display': viewL}">
        <div class="laboral">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 col-md-12">

                <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->
              
                <!-- Position Column -->
                <ng-container matColumnDef="iddgru">
                  <th mat-header-cell *matHeaderCellDef> ID </th>
                  <td mat-cell *matCellDef="let element"> {{element.iddgru}} </td>
                </ng-container>
              
                <!-- Name Column -->
                <ng-container matColumnDef="dia">
                  <th mat-header-cell *matHeaderCellDef> Dia </th>
                  <td mat-cell *matCellDef="let element"> {{element.dia}} </td>
                </ng-container>
              
                <!-- Weight Column -->
                <ng-container matColumnDef="hora">
                  <th mat-header-cell *matHeaderCellDef> Hora </th>
                  <td mat-cell *matCellDef="let element"> {{element.hora}} </td>
                </ng-container>
              
                <!-- Symbol Column -->
        
                <ng-container matColumnDef="idesc">
                  <th mat-header-cell *matHeaderCellDef> Escuela </th>
                  <td mat-cell *matCellDef="let element"> {{element.idesc}} </td>
                </ng-container>
        
                <ng-container matColumnDef="icons">
                  <th mat-header-cell *matHeaderCellDef>Acciones</th>
                  <td mat-cell *matCellDef="let element">
                    <button mat-icon-button (click)="asistencia(element.iddgru, element.dia, element.hora, element.idesc)" class="text-info" matTooltip="Visualizar la lista de alumnos"><mat-icon>
                      assignment
                    </mat-icon></button>
                  </td>
                </ng-container>
              
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
        </div>
      </div>

      

  
    </mat-tab>
    <!-- Tab de Horario -->
    
    <mat-tab>
      <ng-template mat-tab-label>
        <i class="mdi mdi-finance cursos"></i>
        Grupos
      </ng-template>
      <div class="container">
        <!-- Empty tab content -->
      </div>
    </mat-tab>
    
    
    <mat-tab>
        <ng-template mat-tab-label>
          <i class="mdi mdi-finance cursos"></i>
          Horario laboral
        </ng-template>
        <div class="container">
            <div class="container" [ngStyle]="{'display': viewE}">
                <h1>Horario de clases en escuelas</h1>
               <div class="escuelas">
                   <table mat-table [dataSource]="dataSourceEscuelas" class="mat-elevation-z8 col-md-12">
       
                       <!--- Note that these columns can be defined in any order.
                             The actual rendered columns are set as a property on the row definition" -->
                     
                       <!-- Position Column -->
                       <ng-container matColumnDef="iddgru">
                         <th mat-header-cell *matHeaderCellDef> ID </th>
                         <td mat-cell *matCellDef="let element"> {{element.iddgru}} </td>
                       </ng-container>
                     
                       <!-- Name Column -->
                       <ng-container matColumnDef="dia">
                         <th mat-header-cell *matHeaderCellDef> Dia </th>
                         <td mat-cell *matCellDef="let element"> {{element.dia}} </td>
                       </ng-container>
                     
                       <!-- Weight Column -->
                       <ng-container matColumnDef="hora">
                         <th mat-header-cell *matHeaderCellDef> Hora </th>
                         <td mat-cell *matCellDef="let element"> {{element.hora}} </td>
                       </ng-container>
                     
                       <!-- Symbol Column -->
               
                       <ng-container matColumnDef="idesc">
                         <th mat-header-cell *matHeaderCellDef> Escuela </th>
                         <td mat-cell *matCellDef="let element"> {{element.idesc}} </td>
                       </ng-container>
               
                       <ng-container matColumnDef="nombre">
                         <th mat-header-cell *matHeaderCellDef> Escuela </th>
                         <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
                       </ng-container>
               
                       <ng-container matColumnDef="icons">
                         <th mat-header-cell *matHeaderCellDef>Acciones</th>
                         <td mat-cell *matCellDef="let element">
                           <button mat-icon-button (click)="asistencia(element.iddgru, element.dia, element.hora, element.idesc)" class="text-info" matTooltip="Visualizar la lista de alumnos"><mat-icon>
                             assignment
                           </mat-icon></button>
                         </td>
                       </ng-container>
                     
                       <tr mat-header-row *matHeaderRowDef="displayedColumnsEscuelas"></tr>
                       <tr mat-row *matRowDef="let row; columns: displayedColumnsEscuelas;"></tr>
                     </table>
               </div>
             </div>
       
             
       
             <div class="container" [ngStyle]="{'display': viewS}">
                 <h1>Horario de clases en la sucursal</h1>
               <div class="sucursal">
                   <table mat-table [dataSource]="dataSourceSucursal" class="mat-elevation-z8 col-md-12">
       
                       <!--- Note that these columns can be defined in any order.
                             The actual rendered columns are set as a property on the row definition" -->
                     
                       <!-- Position Column -->
                       <ng-container matColumnDef="iddgru">
                         <th mat-header-cell *matHeaderCellDef> ID </th>
                         <td mat-cell *matCellDef="let element"> {{element.iddgru}} </td>
                       </ng-container>
                     
                       <!-- Name Column -->
                       <ng-container matColumnDef="dia">
                         <th mat-header-cell *matHeaderCellDef> Dia </th>
                         <td mat-cell *matCellDef="let element"> {{element.dia}} </td>
                       </ng-container>
                     
                       <!-- Weight Column -->
                       <ng-container matColumnDef="hora">
                         <th mat-header-cell *matHeaderCellDef> Hora </th>
                         <td mat-cell *matCellDef="let element"> {{element.hora}} </td>
                       </ng-container>
                     
                       <!-- Symbol Column -->
               
                       <ng-container matColumnDef="idesc">
                         <th mat-header-cell *matHeaderCellDef> Escuela </th>
                         <td mat-cell *matCellDef="let element"> {{element.idesc}} </td>
                       </ng-container>
               
                       <ng-container matColumnDef="nomsuc">
                         <th mat-header-cell *matHeaderCellDef> Sucursal </th>
                         <td mat-cell *matCellDef="let element"> {{element.nomsuc}} </td>
                       </ng-container>
               
                       <ng-container matColumnDef="icons">
                         <th mat-header-cell *matHeaderCellDef>Acciones</th>
                         <td mat-cell *matCellDef="let element">
                           <button mat-icon-button (click)="asistencia(element.iddgru, element.dia, element.hora, element.idesc)" class="text-info" matTooltip="Visualizar la lista de alumnos"><mat-icon>
                             assignment
                           </mat-icon></button>
                         </td>
                       </ng-container>
                     
                       <tr mat-header-row *matHeaderRowDef="displayedColumnsSucursal"></tr>
                       <tr mat-row *matRowDef="let row; columns: displayedColumnsSucursal;"></tr>
                     </table>
               </div>
             </div>
        </div>
      </mat-tab>

  </mat-tab-group>
            </div>
</div>
<div class="row">

</div>
<div class="row">

</div>
<app-fotter></app-fotter>
