 .container 
 {
   background-color: white;
 }
 .labeltitulo{
   color: white;
 }
 .pequeña{
   width: 200px;
   height: 200px;;
 }
 .encabezado{
   width: 100% ;height: 40px;
 }
 .imagenandname{
  text-align: center;
  font-size: 30px;
 }
@media(max-width:1040px){
  .labeltitulo{
    color: black;
  }
  .pequeña{
    width: 100px;
    height: 100px;
    margin-top: 1px;
  }
  .encabezado{
    height: 10px;
  }


}
 
