<div class="row">
    <div class="col-lg-2">
          <img class="rounded-circle shadow" alt="700x700" src="assets/images/users/user-4.jpg" data-holder-rendered="true">
          
       
    </div> 
    <div class="col-lg-1">
         

            
         
      </div> 
      <div class="col-lg-7">
            <br>
            <br>
            <br>

                <label style="font-size: 30px;" > Erick Mora Palma <button mat-icon-button class="text-success"><mat-icon   aria-label="Edit">edit</mat-icon></button></label>   

      </div> 
      <div class="col-lg-2">

    
        </div> 
</div>


<div class="row">
   <div class="col-lg-3">
       <br>
       <br>

       <i class="mdi mdi-account"></i><label style="font-size: 20px;"> Nombre : </label><label style="font-size: 18px;" ></label>   
        <br>
        <i class="mdi mdi-account-alert"> </i><label style="font-size: 20px;"> Apellidos : </label><label style="font-size: 18px;"></label>   
        <br>
        <i class="mdi mdi-cake-variant"> </i><label style="font-size: 20px;"> Fecha de nacimiento: </label><label style="font-size: 18px;"></label>    
        <br>
        <i class="mdi mdi-account-multiple"> </i><label style="font-size: 20px;"> Sexo: </label><label style="font-size: 18px;"></label>    
        <br>
        <i class="mdi mdi-city"> </i><label style="font-size: 20px;"> Domicilio: </label><label style="font-size: 18px;"></label>    
        <br>
        <i class="mdi mdi-cellphone-iphone"> </i><label style="font-size: 20px;"> Telefono: </label><label style="font-size: 18px;"></label>    
        <br>
        <i class="mdi mdi-email"> </i><label style="font-size: 20px;"> Correo: </label><label style="font-size: 18px;"></label>    
     
    </div>

          <!-- <div class="row">
          <div class="tab-content">
               <div class="tab-pane active p-3" id="home-1" role="tabpanel">
                   <p class="mb-0">
                       
                     Descripcion de membrecia
                   </p>
               </div>
               <div class="tab-pane p-3" id="profile-1" role="tabpanel">
                   <p class="mb-0">
                       Descripcion de Horarios
                   </p>
               </div>
               <div class="tab-pane p-3" id="messages-1" role="tabpanel">
                   <p class="mb-0">
                      Descripcion de Cursos
                   </p>
               </div>
              </div>
           </div> -->

           <div class="col-lg-9">
                   <div class="card m-b-30">
                       
                        <div class="card-body">
           <br>
           <br>

                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs nav-justified" role="tablist">
                                        <li class="nav-item">
                                        <a class="nav-link active" data-toggle="tab" href="#home-1" role="tab"> <i class="mdi mdi-account-card-details"></i> Membrecia</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#profile-1" role="tab"><i class="mdi mdi-calendar-text"></i> Horario</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#messages-1" role="tab"><i class="mdi mdi-finance"></i> Cursos</a>
                                    </li>
                                    <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="#messages-2" role="tab"><i class="mdi mdi-account-multiple"></i> Padres</a>
                                        </li>
                                    
                                </ul>
                    
                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div class="tab-pane active p-3  " id="home-1" role="tabpanel">
                                            
                                                 
                                                       
                                                            <blockquote class="card-blockquote mb-0">
                                                                <p>Nombre</p>
                                                                <p>Costo</p>
                                                                <p>Fecha Inicio</p>
                                                                <p>Fecha Termino</p>
                                                                <p>Adelanto</p>
                                                                <p>Restante</p>
                                                                <p>Total</p>
                                                                <!-- <footer class="blockquote-footer text-white font-12">
                                                                    Someone famous in <cite title="Source Title">Source Title</cite>
                                                                </footer> -->
                                                            </blockquote>
                                                        
                                                    
                                             
                                    </div>
                                    <div class="tab-pane p-3" id="profile-1" role="tabpanel">
                                        <p class="mb-0">
                                            Descripcion de Horarios
                                        </p>
                                    </div>
                                    <div class="tab-pane p-3" id="messages-1" role="tabpanel">
                                        <p class="mb-0">
                                           Descripcion de Cursos
                                        </p>
                                    </div>
                                    <div class="tab-pane p-3" id="messages-2" role="tabpanel">
                                            <p class="mb-0">
                                              Datos de padre
                                            </p>
                                        </div>


                   
                   </div>
               </div>
           </div>