<div class="row">
    <div class="col-lg-2">
          <img class="rounded-circle shadow" alt="700x700" src="assets/images/users/user-4.jpg" data-holder-rendered="true">
          
       
    </div> 
    <div class="col-lg-1">
         

            
         
      </div> 
      <div class="col-lg-7">
            <br>
            <br>
            <br>
                <label style="font-size: 30px;" > Erick Mora Palma</label>   

      </div> 
      <div class="col-lg-2">
     

         
        </div> 
</div>


<div class="row">
   <div class="col-lg-3">
       <br>
       <br>

       <i class="mdi mdi-account"></i><label style="font-size: 20px;">Nombre Papa: </label><label style="font-size: 18px;" >Erick</label>   
        <br>
        <i class="mdi mdi-account"></i><label style="font-size: 20px;">Apellidos Papa: </label><label style="font-size: 18px;">Mora Palma</label>   
        <br>
        <i class="mdi mdi-account"></i><label style="font-size: 20px;">Tel Papa: </label><label style="font-size: 18px;">2132232321</label>    
        
    </div>

          <!-- <div class="row">
          <div class="tab-content">
               <div class="tab-pane active p-3" id="home-1" role="tabpanel">
                   <p class="mb-0">
                       
                     Descripcion de membrecia
                   </p>
               </div>
               <div class="tab-pane p-3" id="profile-1" role="tabpanel">
                   <p class="mb-0">
                       Descripcion de Horarios
                   </p>
               </div>
               <div class="tab-pane p-3" id="messages-1" role="tabpanel">
                   <p class="mb-0">
                      Descripcion de Cursos
                   </p>
               </div>
              </div>
           </div> -->

           <div class="col-lg-9">
                   <div class="card m-b-30">
                       
                        <div class="card-body">
           <br>
           <br>

                                <!-- Nav tabs -->
                                <ul class="nav nav-pills nav-justified" role="tablist">
                                    <li class="nav-item waves-effect waves-light">
                                        <a class="nav-link active" data-toggle="tab" href="#home-1" role="tab">Membrecia</a>
                                    </li>
                                    <li class="nav-item waves-effect waves-light">
                                        <a class="nav-link" data-toggle="tab" href="#profile-1" role="tab">Horario</a>
                                    </li>
                                    <li class="nav-item waves-effect waves-light">
                                        <a class="nav-link" data-toggle="tab" href="#messages-1" role="tab">Cursos</a>
                                    </li>
                                    
                                </ul>
                    
                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div class="tab-pane active p-3" id="home-1" role="tabpanel">
                                        <p class="mb-0">
                                            
                                          Descripcion de membrecia
                                        </p>
                                    </div>
                                    <div class="tab-pane p-3" id="profile-1" role="tabpanel">
                                        <p class="mb-0">
                                            Descripcion de Horarios
                                        </p>
                                    </div>
                                    <div class="tab-pane p-3" id="messages-1" role="tabpanel">
                                        <p class="mb-0">
                                           Descripcion de Cursos
                                        </p>
                                    </div>


                   
                   </div>
               </div>
           </div>