<div class="container" style="height:170px">
  <h3 mat-dialog-title style="text-align: center;">Modificando</h3>

  <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm" style="height: 140px">
    <div class="form">

      <div class="row">
          <mat-form-field color="accent">
              <input disabled readonly matInput #input class="form-control" placeholder="ID" [(ngModel)]="data.idtipopago" name="idtipopago"
                required>
            </mat-form-field>
      </div>

      <div class="row">
          <mat-form-field color="accent">
              <input matInput #input class="form-control" placeholder="Nombre" [(ngModel)]="data.nombre" name="nombre"
                required>
              <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
      </div>
    </div>

    <div mat-dialog-actions>
      <button class="btn btn-success" [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1"
        (click)="stopEdit(data)" style="margin:0px 40px 0 10px">Guardar</button>
      <button class="btn btn-danger" (click)="onNoClick()" tabindex="-1">Cancelar</button>
    </div>
  </form>
</div>