
          <h1 class="text-center">Asistencicas del mes de {{month | date:"MMMM"}}</h1>
          <div class="col-md-8">
            <table class="table">
              <thead>
                <tr>
                  <th>No.</th>
                  <th>Alumno</th>
                  <th *ngFor="let fecha of fechas; let i = index">Clase {{i+1}}</th>
                </tr>
              </thead>
            
              <tbody>
                <tr *ngFor="let alumno of alumnos; let i = index">
                  <td>{{i+1}}</td>
                  <td>{{alumno.alum_nom}} {{alumno.alumno_apell}} </td>
                  <td *ngFor="let row of allRows"  [style.display]="alumno.idalu == row.idalu ? '' : 'none'">
                    <ng-container *ngIf="row.asis; else elseTemplate">
                      <mat-icon class="text-success">done</mat-icon >
                    </ng-container>
                    <ng-template #elseTemplate>
                      <mat-icon class="text-danger">clear</mat-icon>
                    </ng-template>
                    
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-md-2">
            <table class="table" align="center">
              <thead>
                <tr>
                  <th>No.asis</th>
                <th>Total</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let alumno of alumnos">
                  <td>{{alumno.pm}}</td>
                  <td>{{alumno.t | currency: "MXN"}}</td>
                </tr>
                <tr>
                  <td align="right">Total a pagar:</td>
                  <td align="left"><b><h1>{{total | currency: "MXN"}}</h1></b></td>
                </tr>
              </tbody>
            </table>
          </div>
