<!-- <div class="container" style="height:200px;">
    <h3 mat-dialog-title style="text-align: center;">Nuevo Subtema</h3>
  
    <form mat-dialog-content #formControl="ngForm">
  
      <div class="form">
        <mat-form-field color="accent"  >
          <input matInput placeholder="Tema" [(ngModel)]="teme.nombre" name="nombre" required >
          <mat-error *ngIf="fControl.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>

        <mat-form-field>
          <mat-label>Seleccione el tema </mat-label>
          <mat-select (selectionChange)="select($event.value)">
            <mat-option *ngFor="let areadelc of ac" [value]="areadelc.idt" >
              {{areadelc.nombre}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br>
        <button class="btn btn-success" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="confirmAdd()" style="margin-top:20px;margin-left:34%; margin-right: 40px;">Guardar</button>
        <button class="btn btn-danger" (click)="onNoClick()" tabindex="-1" style="margin-top: 20px;">Cancelar</button>

    </form>
  </div> -->

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="text-center">Nuevo subtema</h3>
      </div>
    </div>
    
    <form #formControl="ngForm">
      <div class="row">
        <div class="col-md-12">
          <mat-form-field>
            <input matInput placeholder="Subtema" [(ngModel)]="teme.nombre" name="nombre" required class="text-center" required>
            <mat-error *ngIf="fControl.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 justify-content-center">
          <mat-form-field>
            <mat-label>Seleccione el tema</mat-label>
            <mat-select (selectionChange)="select($event.value)" required>
              <mat-option *ngFor="let areadelc of ac" [value]="areadelc.idt" >
                {{areadelc.nombre}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </form>
    
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-6">
        <button class="btn btn-success" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="confirmAdd()" style="margin-top:20px;margin-left:34%; margin-right: 40px;">Guardar</button>

        </div>
        <div class="col-md-6">
          <button class="btn btn-danger" (click)="onNoClick()" tabindex="-1" style="margin-top: 20px;">Cancelar</button>
        </div>
      </div>
    </div>

  </div>