<div class="body">

  <br>
  <br>
  <div class="col-xl-12 col-md-12 body">
      <div class="col-xl-4 col-md-6 oculto">
          <div class="card bg-warning mini-stat position-relative">
           <div class="card-body">
              <div class="mini-stat-desc">
                Hola
                </div>
              </div>
            </div>
          </div> 
           <div class="col-xl-4 col-md-6">
              <div class="card bg-light mini-stat position-relative">
               <div class="card-body">
                  <div class="mini-stat-desc">
              <mat-progress-bar mode="indeterminate" [ngStyle]="{'display':barra}"></mat-progress-bar>

                      <img src="../assets/images/logola.png" alt="" class="banner">

                     
                          <mat-form-field appearance="outline" style="width: 100%; padding: 0%;">
                              <mat-label>Ingrese su email</mat-label>
                            <input matInput placeholder="Ingrese su email" [formControl]="email" [(ngModel)]="login.email" required>
                            <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                          </mat-form-field>
                          <br>
                          <mat-form-field appearance="outline" style="width: 100%; padding: 0%;">
                              <mat-label>Ingrese su contraseña</mat-label>
                              <input matInput placeholder="Ingrese su contraseña" [type]="hide ? 'password' : 'text'" [(ngModel)]="login.password">
                              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                              </button>
                            </mat-form-field>
                          <br>
                            <mat-form-field appearance="outline" style="width: 100%; padding: 0%;">
                                <mat-label>Nombre</mat-label>
                              <input matInput placeholder="Ingrese su nombre" maxlength="20" [(ngModel)]="login.nombre" required>
                              <mat-error>{{getErrorMessage()}}</mat-error>
                            </mat-form-field>
                            <br>
                            <mat-form-field appearance="outline"style="width: 100%; padding: 0%;">
                                <mat-label>Apellidos</mat-label>
                              <input matInput placeholder="Ingrese su nombre" maxlength="20" [(ngModel)]="login.apellidos" required>
                              <mat-error>{{getErrorMessage()}}</mat-error>
                            </mat-form-field>
                              <button type="button" class="btn btn-primary btn-block" (click)="saveLogin()" >Guardar</button>
                              <br>
                              


                              <p class="text-black-50 " >¿Ya tienes una cuenta? <a  href="#" [routerLink]="['/login']" class="text-blue " style="font-size:20px"> Inicia sesion  </a> </p>


                      <!-- <mat-form-field appearance="outline">
                          <input matInput placeholder="Ingresa tu email" [formControl]="email" id="email" [(ngModel)]="login.email" required>
                          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                          <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                        </mat-form-field> -->
                        <!-- <mat-form-field appearance="outline">
                          <input matInput placeholder="Ingresa tu contraseña" id="password" [(ngModel)]="login.password" [type]="hide ? 'password' : 'text'">
                          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                          </button>
                        </mat-form-field> -->
                        <!-- <mat-form-field appearance="outline">
                          <mat-label>Ingresa tu nombre</mat-label>
                          <input matInput placeholder="Nombre" id="nombre" [(ngModel)]="login.nombre">
                          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                        </mat-form-field> -->
                        <!-- <mat-form-field appearance="outline">
                          <mat-label>Ingresa tus apellidos</mat-label>
                          <input matInput placeholder="Apellidos" id="apellidos" [(ngModel)]="login.apellidos">
                          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                        </mat-form-field> -->
                        
                        <!-- <button (click)="saveLogin()" class="btn btn-primary " mat-button (click)="openSnackBar(message.value, action.value,actions.value,name.value)" routerLink="/login">Registrar</button> -->
                        <!-- <p class="text-black-50 " >¿Ya tienes una cuenta? <a  href="#" [routerLink]="['/login']" class="text-blue " style="font-size:20px"> Inicia sesion  </a> </p> -->
                      
                    </div>
                  </div>
                </div>
              </div> 
               <div class="col-xl-4 col-md-6 oculto">
                  <div class="card bg-warning mini-stat position-relative">
                   <div class="card-body">
                      <div class="mini-stat-desc">
                        Hola
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                </div>