

<br>
<br>
<br>
<div class="example-container ">
  <mat-form-field appearance="outline">
    <input matInput placeholder="Ingresa tu email" [formControl]="email" id="email" [(ngModel)]="login.email" required>
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <input matInput placeholder="Ingresa tu contraseña" id="password" [(ngModel)]="login.password" [type]="hide ? 'password' : 'text'">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Ingresa tu nombre</mat-label>
    <input matInput placeholder="Nombre" id="nombre" [(ngModel)]="login.nombre">
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Ingresa tus apellidos</mat-label>
    <input matInput placeholder="Apellidos" id="apellidos" [(ngModel)]="login.apellidos">
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
  </mat-form-field>
  <button (click)="saveLogin()" class="btn btn-primary " mat-button (click)="openSnackBar(message.value, action.value,actions.value,name.value)" routerLink="/login">Registrar</button>
  <p class="text-black-50 " >¿Ya tienes una cuenta? <a  href="#" [routerLink]="['/login']" class="text-blue " style="font-size:20px"> Inicia sesion  </a> </p>
</div>

<!-- 
Elementos para el modal muestra el nombre y el bienvenido -->
  <input  class="ocultar" matInput value="Usuario registrado" placeholder="Message" #message >

  <input  class="ocultar" matInput value="Bienvenido" placeholder="Action" #action>
 

  <input  class="ocultar" matInput value=" " placeholder="Action" #actions>
 

  <input class="ocultar"  matInput  [(ngModel)]="login.nombre" placeholder="Action" #name>
 

