<div class="container" style="height: 170px;">
  <h3 mat-dialog-title style="text-align: center;">Modificando</h3>

  <form  (ngSubmit)="submit" #formControl="ngForm" >

 
    <div class="form">
      <mat-form-field color="accent" style="width: 220px">
        <input matInput #input placeholder="Hora" [(ngModel)]="data.hora" name="hora" required>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
  
    <div mat-dialog-actions>
      <button class="btn btn-success" [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1"
        (click)="stopEdit(data)" style="margin-left: 20px; margin-right: 40px; margin-top:7px;">Guardar</button>
      <button class="btn btn-danger" (click)="onNoClick()" tabindex="-1" style=" margin-top:7px;">Cancelar</button>
    </div>
  </form>
</div>