<app-navbar></app-navbar>
<br>
<br>
<br>
<br>
<div class="col-xl-12 col-md-12 body">
  <div class="col-xl-12 col-md-12 ">
    <div class="card bg-light mini-stat position-relative">
      <div class="card-body">
        <div class="col-xl-12 col-md-12 ">
          <h1 class="centro">Busqueda de clases
            <button matTooltip="agregrar un nueva sesion" class="agregrar" [routerLink]="['/clases']"
              aria-label="Button that displays a tooltip when focused or hovered over" class="col-xl-2" mat-icon-button>

              <mat-icon>add</mat-icon>
            </button>
          </h1>
        </div>
        <div class="row">
          <div class="col-md-4">
            <mat-form-field class="col-xl-10">
              <mat-label>Nivel: </mat-label>

              <mat-select (selectionChange)="filter()" [(ngModel)]="struct.nivel">
                <mat-option value="">Todos</mat-option>
                <mat-option *ngFor="let clases of persona" value="{{clases.nombre}}">{{clases.nombre}}</mat-option>
              </mat-select>
            </mat-form-field>

          </div>

          <div class="col-md-4">
            <mat-form-field class="col-xl-10">
              <mat-label>Grado: </mat-label>
              <mat-select [(ngModel)]="struct.grado" (selectionChange)="filter()">
                <mat-option value="">Todos</mat-option>
                <mat-option *ngFor="let clases of grado" value="{{clases.nombre}}">{{clases.nombre}}</mat-option>
              </mat-select>
            </mat-form-field>

          </div>

          <div class="col-md-4">

            <mat-form-field class="col-xl-10">
              <mat-label>Áreas de conocimiento: </mat-label>
              <mat-select [(ngModel)]="struct.ac" (selectionChange)="filter()" multiple>
                <mat-option *ngFor="let area of areadelconocimiento" value="{{area.nomarea}}">{{area.nomarea}}
                </mat-option>
              </mat-select>
            </mat-form-field>

          </div>

        </div>
        <div class="row">
          <div class="col-md-4">
            <mat-form-field class="col-xl-10">
              <mat-label>Sub Areas de conocimiento: </mat-label>
              <mat-select [(ngModel)]="struct.sac" multiple (selectionChange)="filter()">
                <mat-option *ngFor="let sarea of subareas" value="{{sarea.nombre}}">{{sarea.nombre}}</mat-option>
              </mat-select>
            </mat-form-field>

          </div>

          <div class="col-md-4">
            <mat-form-field class="col-xl-10">
              <mat-label>Herramientas </mat-label>
              <mat-select [(ngModel)]="struct.herra" multiple (selectionChange)="filter()">
                <mat-option *ngFor="let herra of herramientas" value="{{herra.nombre}}">{{herra.nombre}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field class="col-xl-10">
              <mat-label>Folio:</mat-label>
              <form>
                <input type="text" placeholder="Folio" aria-label="Folio" matInput [formControl]="folioCtrl"
                  [matAutocomplete]="auto" (keyup)="folioKey($event.target.value)" [(ngModel)]="value">
                <mat-autocomplete #auto="matAutocomplete">
                  <mat-option *ngFor="let folio of filteredFolios | async" [value]="folio.folio">
                    {{folio.folio}}
                  </mat-option>
                </mat-autocomplete>
              </form>

            </mat-form-field>

          </div>

        </div>


      </div>
      <!-- <button (click)="applyFilter()" >Filtrar</button> -->

      <div class="col-xl-12 col-md-12 ">
        <h1 class="centro">Resultados</h1>
        <!-- <ul *ngFor="let res of letras">
                  <li>{{res.nombre}}</li>
                </ul> -->
        <div class="row">
          <h1>Reiniciar la busqueda</h1>
            <button mat-icon-button (click)="restart()">
              <mat-icon>replay</mat-icon>
            </button>
        </div>
        <br>
        <table class="table">

          <thead>
            <th scope="col">Tema</th>
            <th scope="col">Subtema</th>
            <th scope="col">Nivel</th>
            <th scope="col">Grado</th>
            <th scope="col">Folio</th>
            <th scope="col">Acciones</th>
          </thead>

          <tbody>
            <tr *ngFor="let filt of filtered; let i = index">
              <td>{{filt.ntema}}</td>
              <td>{{filt.nt}}</td>
              <td>{{filt.n}}</td>
              <td>{{filt.g}}</td>
              <td>{{filt.folio}}</td>
              <td>
                <button (click)="edit(filt)" [routerLink]="['/editmodulo']" routerLinkActive="router-link-active"
                  mat-icon-button class="text-success">
                  <mat-icon aria-label="Edit">remove_red_eye</mat-icon>
                </button>
                <button  mat-icon-button class="text-danger">
                  <mat-icon aria-label="Delete" (click)="delete(filt.folio, i)">delete</mat-icon>
                </button>
              </td>
            </tr>
          </tbody>

        </table>
      </div>
      <hr class="titulo" />

    </div>
  </div>
</div>



<app-fotter></app-fotter>