<!-- page wrapper start -->
<div class="wrapper">
  <div class="page-title-box">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h4 class="page-title">Home</h4>
        </div>
      </div>
    </div>
    <!-- end container-fluid -->
  </div>
  <!-- page-title-box -->

  <div class="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="card m-b-20">
            <div class="card-body">
              <!-- Contenido del espacio en blanco -->
			 <router-outlet>
			 </router-outlet>
            </div>
          </div>
        </div> <!-- end col -->
      </div> <!-- end col -->
    </div> <!-- end row -->
  </div>
  <!-- end container-fluid -->
</div>
<!-- end page content-->
<!-- page wrapper end -->