<div class="col-md-12 all" [ngStyle]="{'display':tok}">
    <h1 class="text-center tittle">Restablecer contraseña</h1>


  <div class="row col-md-12">
        <div class="center-block col-md-8 cuerpo">
            <div class="container">
              <div class="imgcont">
                  <img src="assets/images/logola.png" alt="" class="log">
              </div>
              <h2 class="text-center subtittle">Ingrese su nueva contraseña</h2>
              <p>Ingrese una contraseña segura</p>
              <form (ngSubmit)="submit" #formControl="ngForm">
                <div class="form">
                  <mat-form-field class="camps">
                    <input matInput type="text" [type]="hide ? 'password' : 'text'" placeholder="Ingrese su nueva contraseña" [(ngModel)]="password.pass" name="pss" required>
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                      </button>
                    <mat-error *ngIf="fControl.invalid">{{getErrorMessage()}}</mat-error>
                  </mat-form-field>
                </div>
                <div class="form">
                  <mat-form-field class="camps">
                    <input matInput type="text" [type]="hidec ? 'password' : 'text'" placeholder="Confirme su contraseña" [(ngModel)]="password.passc" name="psw" required>
                    <button mat-icon-button matSuffix (click)="hidec = !hidec" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                      </button>
                    <mat-error *ngIf="fControl.invalid">{{getErrorMessage()}}</mat-error>
                  </mat-form-field>
                  <span  class="text-danger" *ngIf="password.passc!=password.pass">{{samePass()}}</span>
                </div>
      
                <div class="button">
                  <input type="submit" class="btn btn-info" value="Confirmar" (click)="confirm(password)" [disabled]="password.passc!=password.pass">
                </div>
              </form>
            </div>
          </div>
  </div>

  <div class="foot">
    <span class="copy">&copy;<strong>RoboGenius 2019</strong>. Todos los Derechos Reservados</span>
  </div>
</div>