.all
{
    background-color: #3498DB;
    height: 100%;
}

.tittle
{
    color: #FDFEFE;
    text-align: center;
    font-size: 400%;
    padding-top: 8%;
    padding-bottom: 3%;
}


.cuerpo
{
    background-color: #FDFEFE;
    padding: 8%;
    -webkit-box-shadow: 3px 2px 11px 2px rgba(0,0,0,0.56);
    -moz-box-shadow: 3px 2px 11px 2px rgba(0,0,0,0.56);
    box-shadow: 3px 2px 11px 2px rgba(0,0,0,0.56);
}

.log
{
    width: 80%;
}

.imgcont
{
    
    display: flex;
    justify-content: center;
    padding-top: -15%;
}

.subtittle
{
    font-size: 280%;
    color: #3498DB;
    font-weight: bold;
    padding-bottom: 5%;
}

.form
{
    align-content: center;
    width: 90%;
    padding: 5%;
}

.button
{
    display: flex;
    justify-content: center;
}

.btn
{
    width: 50%;
    font-size: 120%;
}

.camps
{
    width: 100%;
}

.copy
{
    color: #FDFEFE;
}

.foot
{
    text-align: center;
    padding-top: 50%;
    padding-bottom: 10%;
    /* margin: 25%; */
    /* border: 25%; */
}
