mat-form-field {
    width: 80%;
    margin: 10px;
}

.mitad {
    width: 40%;
}

.container {
    background-color: white;
}

mat-divider {
    width: 60%;
}

mat-hint, .hint {
    font-size: 120%;
    color: #2ECC71;
}

.inforequired
{
    color: #E74C3C;
}