<div class="container">
  <div class="alumnoform" [ngStyle]="{display:alumnosview}">
    <h3>Agregar nuevo alumno</h3>
    <span class="inforequired">Los campos marcados con <b>*</b> son obligatorios</span>
    <br>

    <!-- ---------------------------- Iniio del formulario ---------------------------- -->

    <!-- Validaciones en el formulario #formControl="ngForm" -->
    <form (ngSubmit)="submit">

      <!-- -------------------------- Formulario de alumnos -------------------------- -->
      <div class="alumno">
        <h3>Información personal del alumno</h3>
        <mat-divider></mat-divider>
        <div class="row">

          <!-- ------------------------------------ Nombre ------------------------------------ -->
          <div class="form col-md-5">
            <mat-form-field color="primary">
              <input matInput #input class="form-control" placeholder="Nombre del alumno" [(ngModel)]="alumno.nomalu"
                name="nomalu" required>
              <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
          </div>

          <!-- -------------------------------------- Apellidos -------------------------------------- -->
          <div class="form col-md-5">
            <mat-form-field color="primary">
              <input matInput #input class="form-control" placeholder="Apellidos" [(ngModel)]="alumno.apealu"
                name="apealu" required>
              <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
          </div>
        </div>

        <!-- -------------------------------------- Domicilio -------------------------------------- -->

        <div class="row">
          <div class="form col-md-6">
            <mat-form-field color="primary">
              <textarea [(ngModel)]="alumno.domalu" matInput placeholder="Domicilio" name="domalu" required></textarea>
              <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
          </div>

          <!-- ------------------------------------ Correo ------------------------------------ -->

          <div class="form col-md-4">
            <mat-form-field color="primary">
              <input matInput #input class="form-control" placeholder="Correo" [(ngModel)]="alumno.correoalu"
                name="correoalu">
              <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
          </div>
        </div>

        <!-- --------------------------------------- Sexo --------------------------------------- -->

        <div class="row">
          <div class="form col-md-3">
            <mat-form-field>
              <mat-label>Sexo: </mat-label>
              <mat-select [(ngModel)]="alumno.sexoalu" [(value)]="selectedsex" name="sexoalu" required>
                <mat-option value="Hombre">Hombre</mat-option>
                <mat-option value="Mujer">Mujer</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <!-- --------------------------- Fecha de nacimiento --------------------------- -->

          <div class="form col-md-3">
            <mat-form-field>
              <input [(ngModel)]="alumno.fnacalu" matInput placeholder="Fecha de nacimiento" type="date" name="fnacalu"
                required>
            </mat-form-field>
          </div>

          <!-- ---------------------------------- Telefono ---------------------------------- -->

          <div class="form col-md-3">
            <mat-form-field class="example-full-width">
              <input matInput #message maxlength="10" [(ngModel)]="alumno.telalu" placeholder="Telefono" type="tel"
                name="tealu">
              <mat-hint align="end">{{message.value.length}} / 10</mat-hint>
              <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
          </div>
        </div>

        <!-- -------------------------- Inforomacion medica del alumno -------------------------- -->

        <h3>Información medica del alumno</h3>
        <mat-divider></mat-divider>

        <div class="row">

          <!-- ------------------------------- Enfermedad cronica ------------------------------- -->

          <div class="form col-md-5">
            <mat-form-field color="primary">
              <input matInput #input class="form-control" placeholder="Enfermedad cronica" [(ngModel)]="alumno.cronica"
                name="cronica">
              <mat-hint align="end" class="hint">Especificar si el alumno padece de alguna enfermedad cronica.
              </mat-hint>
            </mat-form-field>
          </div>

          <!-- ----------------------------------- Medicacion ----------------------------------- -->

          <div class="form col-md-5">
            <mat-form-field color="primary">
              <input matInput #input class="form-control" placeholder="Medicación" [(ngModel)]="alumno.medicacion"
                name="medicacion">
              <mat-hint align="end" class="hint">Especificar si el alumno require alguna medicacion en el transcuros del
                dia.</mat-hint>
            </mat-form-field>
          </div>
        </div>



        <div class="row">

          <!-- -------------------------------------- Alergias -------------------------------------- -->
          <div class="form col-md-5">
            <mat-form-field color="primary">
              <input matInput #input class="form-control" placeholder="Alergias" [(ngModel)]="alumno.alergias"
                name="alergias">
              <mat-hint align="end" class="hint">Especificar si el alumno es alergico a algo.</mat-hint>
            </mat-form-field>
          </div>

          <!-- ------------------------------- Otro (enfermedad) ------------------------------- -->

          <div class="form col-md-5">
            <mat-form-field color="primary">
              <input matInput #input class="form-control" placeholder="Otro" [(ngModel)]="alumno.otro" name="otro">
              <mat-hint align="end" class="hint">Especificar alguna otra condición medica medica.</mat-hint>
            </mat-form-field>
          </div>
        </div>

        <!-- -------------------------------------- Evaluacion -------------------------------------- -->

        <div class="form">
          <mat-form-field color="primary">
            <input matInput #input class="form-control" placeholder="Evaluación" [(ngModel)]="alumno.evaluacion"
              name="evaluacion">
          </mat-form-field>
        </div>

        <!-- ------------------------- Acceso al sistema del alumno ------------------------- -->

        <h3>Acceso al sistema</h3>
        <mat-divider></mat-divider>

        <div class="row">

          <!-- ------------------------------------- Usuario ------------------------------------- -->

          <div class="form col-md-5">
            <mat-form-field color="primary">
              <input matInput #input class="form-control" placeholder="Usuario" [(ngModel)]="alumno.usuarioalu"
                name="usuarioalu" required>
              <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
          </div>

          <!-- --------------------------------------- Contraseña --------------------------------------- -->

          <div class="form-group col-md-5">
            <mat-form-field [ngStyle]="{display:visibility}">
              <input class="form-control" [(ngModel)]="alumno.pswalu" matInput placeholder="Contraseña" name="pswalu"
                [type]="hide ? 'password' : 'text'" [disabled]="isDisable" required>
              <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
          </div>
        </div>


      </div>

      <!-- ------------------------------ Formulario de padres ------------------------------ -->

      <div class="padre">
        <h3>Información del padre</h3>
        <mat-divider></mat-divider>
        <div class="row">

          <!-- -------------------------------------- Nombre -------------------------------------- -->

          <div class="form col-md-5">
            <mat-form-field color="primary">
              <input matInput #input class="form-control" placeholder="Nombre del padre" [(ngModel)]="alumno.nompad"
                name="nompad" required>
              <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
          </div>

          <!-- ----------------------------------- Apellidos ----------------------------------- -->

          <div class="form col-md-5">
            <mat-form-field color="primary">
              <input matInput #input class="form-control" placeholder="Apellidos" [(ngModel)]="alumno.apepad"
                name="nompad" required>
              <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="row">

          <!-- ---------------------------------------- Domicilio ---------------------------------------- -->

          <div class="form col-md-6">
            <mat-form-field color="primary">
              <textarea [(ngModel)]="alumno.dompad" matInput placeholder="Domicilio" name="dompad" required></textarea>
              <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
          </div>

          <!-- ------------------------------------------ Correo ------------------------------------------ -->

          <div class="form col-md-4">
            <mat-form-field color="primary">
              <input matInput #input class="form-control" placeholder="Correo" [(ngModel)]="alumno.correopad"
                name="correopad">
              <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="row">

          <!-- ------------------------------------------ Telefono ------------------------------------------ -->

          <div class="form col-md-3">
            <mat-form-field class="example-full-width">
              <input matInput [(ngModel)]="alumno.telpad" #message maxlength="10" name="telpad" placeholder="Telefono"
                type="tel">
              <mat-hint align="end">{{message.value.length}} / 10</mat-hint>
              <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
          </div>

          <!-- ------------------------------------------ Ocupacion ------------------------------------------ -->

          <div class="form col-md-4">
            <mat-form-field color="primary">
              <input matInput #input class="form-control" placeholder="Ocupación" [(ngModel)]="alumno.ocupad"
                name="ocupad" required>
              <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>

      <!-- -------------------------------- Formulario de la madre -------------------------------- -->

      <div class="madre">
        <h3>Información de la madre</h3>
        <mat-divider></mat-divider>
        <div class="row">

          <!-- ------------------------------------------ Nombre ------------------------------------------ -->
          <div class="form col-md-5">
            <mat-form-field color="primary">
              <input matInput #input class="form-control" placeholder="Nombre del padre" [(ngModel)]="alumno.nommad"
                name="nommad" required>
              <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
          </div>

          <!-- ------------------------------------------ Apellidos ------------------------------------------ -->

          <div class="form col-md-5">
            <mat-form-field color="primary">
              <input matInput #input class="form-control" placeholder="Apellidos" [(ngModel)]="alumno.apemad"
                name="nommad" required>
              <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="row">


          <!-- ------------------------------------------ Domicilio ------------------------------------------ -->
          <div class="form col-md-6">
            <mat-form-field color="primary">
              <textarea [(ngModel)]="alumno.dommad" matInput placeholder="Domicilio" name="dommad" required></textarea>
              <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
          </div>

          <!-- ------------------------------------------ Correo ------------------------------------------ -->

          <div class="form col-md-4">
            <mat-form-field color="primary">
              <input matInput #input class="form-control" placeholder="Correo" [(ngModel)]="alumno.correomad"
                name="correomad">
              <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="row">

          <!-- ------------------------------------------ Telefono ------------------------------------------ -->

          <div class="form col-md-3">
            <mat-form-field class="example-full-width">
              <input matInput [(ngModel)]="alumno.telmad" #message maxlength="10" name="telmad" placeholder="Telefono"
                type="tel">
              <mat-hint align="end">{{message.value.length}} / 10</mat-hint>
              <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
          </div>

          <!-- ------------------------------------------ Ocupacion ------------------------------------------ -->

          <div class="form col-md-4">
            <mat-form-field color="primary">
              <input matInput #input class="form-control" placeholder="Ocupación" [(ngModel)]="alumno.ocupmad"
                name="ocupmad" required>
              <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div>
        <!-- Desabilitar el boton / validacion         [disabled]="!formControl.valid"  -->
        <button mat-raised-button [type]="submit" (click)="saveAlumno(alumno)">Siguiente</button>
        <button mat-raised-button [routerLink]="['/alumnos']" routerLinkActive="router-link-active"
          tabindex="-1">Cancelar</button>
      </div>
    </form>
  </div>

  <!-- ------------------------------ Fin del formulario de alumno ------------------------------ -->

  <!-- --------------------------- Formulario de la membresia --------------------------- -->

  <div class="membresia" [ngStyle]="{display:membresiaview}">
    <h2>Elige tu tipo de membresia</h2>
    <form>
      <div class="center-block col-md-10">
        <div class="plan" *ngFor="let mem of _allMembresias">
          <h1 [ngStyle]="{display:alumnosview}">{{mem.idtmem}}</h1>
          <h2 class="plan-title">{{mem.nombre}}</h2>
          <p class="plan-price">${{mem.costo}}.00 <span>/mes</span></p>
          <ul class="plan-features">
            <li><strong>{{mem.clases}} </strong> Clases a la semana</li>
            <li>Crendencial del alumno</li>
            <li>Credencial de papá autorizado</li>
            <li>Uso de todo el material didáctico</li>
            <li>Acceso al área de manufactura con supervisor del asesor</li>
          </ul>
          <button (click)="saveMem(mem.idtmem, mem.costo)" mat-stroked-button>Empezar ahora</button>
        </div>
      </div>
      <!-- ------------------------------------- Boton de siguiente ------------------------------------- -->
    </form>
  </div>
  <!-- ------------------------------------- Fin del formulario de membresia ------------------------------------- -->

  <!-- ------------------------------------- Formulario de tipo de pago ------------------------------------- -->
  <div class="tipopago" [ngStyle]="{display:tipopagoview}">
    <br>
    <div class="row">
      <div class="col-md-10 cont" [ngStyle]="{display:tipoimg}">
        <h1>Elige tu tipo de pago</h1>
        <img src="assets/img/efectivo.png" alt="" class="efec" (click)="efectivo()">
        <img src="assets/img/paypal.png" alt="" class="payp" (click)="paypal()">
        <img src="assets/img/tarjeta.png" alt="" class="tarj" (click)="tarjeta()">
        <img src="assets/img/transferencia.png" alt="" class="tran" (click)="transferencia()">
        <div class="row">
          <button mat-raised-button (click)="returntmem()" routerLinkActive="router-link-active">Regresar</button>
        </div>
      </div>

    </div>
    <div class="row">
      <div [ngStyle]="{display:efec}" class="col-md-10 efec">
        <h1>Pago por efectivo</h1>
        <mat-form-field>
          <input matInput [(ngModel)]="adelanto" placeholder="Adelanto" type="number" class="example-right-align">
          <span matPrefix>$&nbsp;</span>
          <span matSuffix>.00</span>
        </mat-form-field>

        <mat-form-field>
          <input matInput [(ngModel)]="totalpago - adelanto" placeholder="Restante " disabled type="number"
            class="example-right-align">
          <span matPrefix>$&nbsp;</span>
          <span matSuffix>.00</span>
        </mat-form-field>

        <mat-form-field>
          <input matInput [(ngModel)]="totalpago" placeholder="Total " disabled type="number"
            class="example-right-align">
          <span matPrefix>$&nbsp;</span>
          <span matSuffix>.00</span>
        </mat-form-field>

        <mat-slide-toggle color="warn" (change)="inscripcion($event)" [checked]="checked">Agregar inscripción
          (${{anualidad}}.00)
        </mat-slide-toggle>

        <div class="row">
          <button mat-raised-button (click)="saveTpago()" routerLinkActive="router-link-active">Siguiente</button>
          <button mat-raised-button (click)="returntpago()" routerLinkActive="router-link-active" tabindex="-1">
            Regresar</button>
        </div>
      </div>
    </div>
    <div [ngStyle]="{display:payp}" class="payp">
      <h1>Pago por paypal</h1>

      <button mat-raised-button (click)="returntpago()" routerLinkActive="router-link-active" tabindex="-1">
        Regresar</button>
    </div>
    <div [ngStyle]="{display:tarje}" class="tarje">
      <h1>Pago por tarjeta</h1>

      <button mat-raised-button (click)="returntpago()" routerLinkActive="router-link-active" tabindex="-1">
        Regresar</button>
    </div>
    <div [ngStyle]="{display:transfe}" class="transfe">
      <h1>Pago por transferencia|</h1>

      <button mat-raised-button (click)="returntpago()" routerLinkActive="router-link-active" tabindex="-1">
        Regresar</button>
    </div>

    <form action="">

    </form>
  </div>

  <!-- ---------------------------------- Fin del formulario de tipo de pagos ---------------------------------- -->

  <!-- ---------------------------------- Formulario de asignacion de grupos ---------------------------------- -->

  <div class="grupoalu" [ngStyle]="{display:gruposview}">
    <h3>Asignación de grupos</h3>
    <form>
      <div class="row">

        <div class="form col-md-4">
          <mat-form-field>
            <mat-label>Seleccione un dia</mat-label>
            <mat-select [(ngModel)]="dia.iddia" name="iddia" required (selectionChange)="diasChange(dia)">
              <mat-option value="1">Lunes</mat-option>
              <mat-option value="2">Martes</mat-option>
              <mat-option value="3">Miércoles</mat-option>
              <mat-option value="4">Jueves</mat-option>
              <mat-option value="5">Viernes</mat-option>
              <mat-option value="6">Sábado</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="form col-md-4">

          <mat-form-field>

            <mat-label>
              <mat-spinner [ngStyle]="{'display':spinerh}" diameter="15" class="text-success"></mat-spinner><span
                [ngStyle]="{'display':labelh}">Seleccione un horario</span>
            </mat-label>
            <mat-select required [(ngModel)]="hora.idh" (selectionChange)="horasChange(hora)" name="idh">
              <mat-option *ngFor="let ho of _allHoras" [value]="ho.idh" [ngStyle]="{'display':labelh}">
                {{ho.hora}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="form col-md-4">
          <mat-form-field>
            <mat-label>
              <mat-spinner [ngStyle]="{'display':spinnerp}" diameter="15"></mat-spinner> <span
                [ngStyle]="{'display':labelp}">Seleccione un personal</span>
            </mat-label>
            <mat-select required>
              <mat-option *ngFor="let per of _allPersonal" value="per.iddgru" [ngStyle]="{'display':labelp}">
                {{per.nombre}} {{per.apellidos}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </form>
  </div>
</div>