<app-navbar></app-navbar>
<br>
<br>
<br>
<br>
<div class="col-xl-12 col-md-12 body">
  <div class="col-xl-12 col-md-12 ">
    <div class="card bg-light mini-stat position-relative">
      <div class="card-body">
        <div class="container">
          <br>
          <br>
          <h1 style="text-align: center">Asignación de Sesiones</h1>
          <mat-progress-bar mode="indeterminate" [ngStyle]="{'display':barra}"></mat-progress-bar>
          <br>
          <div class="row">
            <div class="col-md-4">
              <mat-form-field class="col-xl-10">
                <mat-label>Nivel: </mat-label>
                <!-- <mat-select [(value)]="NIVEL" (selectionChange)="SelectNivel($event)"> -->

                <mat-select [(value)]="NIVEL" (selectionChange)="nivelChange(NIVEL, $event)" [disabled]="dis">
                  <mat-option *ngFor="let clases of persona" value="{{clases.idn}}">{{clases.nombre}}</mat-option>
                </mat-select>
              </mat-form-field>
              <button matTooltip="agregrar un nuevo nivel" class="agregrar"
                aria-label="Button that displays a tooltip when focused or hovered over" class="col-xl-2"
                mat-icon-button (click)="nuev()">
                <mat-icon>add</mat-icon>
              </button>
            </div>

            <div class="col-md-4">
              <mat-form-field class="col-xl-10">
                <mat-label>Grado: </mat-label>
                <!-- <mat-select [(value)]="GRADO" (selectionChange)="SelectGrado($event)"> -->
                <mat-select [(value)]="GRADO" (selectionChange)="gradoChange(GRADO, $event)" [disabled]="dis">
                  <mat-option *ngFor="let clases of grado" value="{{clases.idg}}">{{clases.nombre}}</mat-option>
                </mat-select>
              </mat-form-field>
              <button matTooltip="agregrar un nuevo grado" class="agregrar"
                aria-label="Button that displays a tooltip when focused or hovered over" class="col-xl-2"
                mat-icon-button (click)="gradomodal()">
                <mat-icon>add</mat-icon>
              </button>
            </div>

            <div class="col-md-4">

              <mat-form-field class="col-xl-10">
                <mat-label>Áreas de conocimiento: </mat-label>
                <mat-select [(value)]="AREA" (selectionChange)="gettema(AREA, $event)" multiple [disabled]="dis">
                  <mat-option *ngFor="let area of areas" value="{{area.idac}}">{{area.nombre}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <button matTooltip="agregrar un nueva area" class="agregrar"
                aria-label="Button that displays a tooltip when focused or hovered over" class="col-xl-2"
                mat-icon-button (click)="areamodal()">
                <mat-icon>add</mat-icon>
              </button>
            </div>

          </div>

          <div class="row">
            <div class="col-md-4">
              <mat-form-field class="col-xl-10">
                <mat-label>Sub Areas de conocimiento: </mat-label>

                <!-- <mat-select [(value)]="subarea" (selectionChange)="getarc(subarea)" multiple> -->
                <mat-select [(value)]="subarea" multiple (selectionChange)="subareaChange(subarea, $event)"
                  [disabled]="dis">
                  <mat-option *ngFor="let sarea of subareas" value="{{sarea.idsac}}">{{sarea.nombre}}</mat-option>

                  <!-- <mat-select [(value)]="subarea" multiple>
            <mat-option *ngFor="let sarea of subareas" value="{{sarea.idsac}}">{{sarea.nombre}}</mat-option> -->
                </mat-select>
              </mat-form-field>
              <button matTooltip="agregrar un nueva sub-area" class="agregrar"
                aria-label="Button that displays a tooltip when focused or hovered over" class="col-xl-2"
                mat-icon-button (click)="addSAC()">
                <mat-icon>add</mat-icon>
              </button>
            </div>

            <div class="col-md-4">
              <mat-form-field class="col-xl-10">
                <mat-label>Temas: </mat-label>
                <mat-select [(value)]="TEMA" (selectionChange)="getsubtema(TEMA, $event)" [disabled]="dis">
                  <mat-form-field appearance="outline">
                    <input matInput placeholder="Buscar..." (keyup)="temaSearch($event.target.value)">
                  </mat-form-field>
                  <mat-option *ngFor="let tem of tema" value="{{tem.idt}}">{{tem.nomtema}}</mat-option>
                </mat-select>
              </mat-form-field>
              <button matTooltip="agregrar un nuevo tema"
                aria-label="Button that displays a tooltip when focused or hovered over" class="col-xl-2"
                mat-icon-button (click)="temamodal()">
                <mat-icon>add</mat-icon>
              </button>
            </div>

            <div class="col-md-4">
              <mat-form-field class="col-xl-10">
                <mat-label>Subtemas: </mat-label>

                <!-- <mat-select [(value)]="SUBTEMAS" (selectionChange)="final(SUBTEMAS)">
            <mat-option *ngFor="let sub of subtema" value="{{sub.nomsubt}}">{{sub.nomsubt}}</mat-option> -->

                <mat-select [(value)]="SUBTEMAS" (selectionChange)="subtemasChange(SUBTEMAS, $event)" [disabled]="dis">
                  <mat-form-field appearance="outline">
                    <input matInput placeholder="Buscar..." (keyup)="subtemaSearch($event.target.value)">
                  </mat-form-field>
                  <mat-option *ngFor="let sub of subtema" value="{{sub.ids}}">{{sub.nomsubt}}</mat-option>
                </mat-select>
              </mat-form-field>
              <button matTooltip="agregrar un nuevo subtema" class="agregrar"
                aria-label="Button that displays a tooltip when focused or hovered over" class="col-xl-2"
                mat-icon-button (click)="subtemaModal()">
                <mat-icon>add</mat-icon>
              </button>
            </div>

          </div>

          <div class="row">
            <div class="col-md-4">
              <mat-form-field class="col-xl-10">
                <mat-label>Herramientas </mat-label>
                <mat-select [(value)]="herramienta" multiple (selectionChange)="herramChange(herramienta, $event)"
                  [disabled]="dis">
                  <!-- <input  type="text"  > -->
                  <mat-form-field appearance="outline">
                    <input matInput placeholder="Buscar..." (keyup)="herraSearch($event.target.value)">
                  </mat-form-field>
                  <mat-option *ngFor="let herra of herramientas" value="{{herra.idherra}}">{{herra.nombre}}</mat-option>
                </mat-select>
              </mat-form-field>
              <button matTooltip="agregrar un nueva herramienta" class="agregrar"
                aria-label="Button that displays a tooltip when focused or hovered over" class="col-xl-2"
                mat-icon-button (click)="addHerra()">
                <mat-icon>add</mat-icon>
              </button>
            </div>

            <div class="col-md-3">
              <mat-form-field class="col-md-12">
                <mat-label>Fecha:</mat-label>
                <input matInput type="text" [value]="today" [disabled]="disFecha">
              </mat-form-field>
            </div>

            <div class="col-md-5">
              <mat-form-field class="col-md-10">
                <mat-label>Folio:</mat-label>
                <input matInput [(ngModel)]="folio" type="text" disabled>
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <mat-form-field class="col-xl-10">
                <mat-label>Numero de alumnos: </mat-label>
                <mat-select [(value)]="noalu" [disabled]="dis">
                  <mat-option value="1">1</mat-option>
                  <mat-option value="2">2</mat-option>
                  <mat-option value="3">3</mat-option>
                  <mat-option value="4">4</mat-option>
                  <mat-option value="5">5</mat-option>
                  <mat-option value="6">6</mat-option>
                  <mat-option value="7">7</mat-option>
                  <mat-option value="8">8</mat-option>
                  <mat-option value="9">9</mat-option>
                  <mat-option value="10">10</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-4">

            </div>


          </div>

          <div class="row">
            <button class="btn btn-info" (click)="guardar()" [ngStyle]="{'display': buttonView}">Siguiente</button>

          </div>

          <br>
        </div>
        <br>
        <div class="container">
          <div class="sesiones" [ngStyle]="{'display': sesionesView}">
            <div class="row">
              <div class="col-md-4" style="text-align: right;">
                <span class="col-md-3" style="border-top: 14px; margin-top: 14px; padding-top: 14px;">Sesion</span>
                <mat-form-field class="col-md-2">

                  <input matInput type="text" class="text-center" [formControl]="selected" [(ngModel)]="ns">
                </mat-form-field>
                <span class="col-md-2" style="border-top: 14px; margin-top: 14px; padding-top: 14px;">De:
                </span>
                <mat-form-field class="col-md-2">
                  <input matInput type="text" class="text-center" [(ngModel)]="numero">
                  <!--  <mat-select class="text-center"   [(value)]="x" (selectionChange)="addLink(x)" >
                       <mat-select class="text-center">
                      <mat-option value="1">1</mat-option>
                      <mat-option value="2">2</mat-option>
                      <mat-option value="3">3</mat-option>
                    </mat-select> -->
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-5"></div>
              <div class="col-md-2">
                <button class="btn btn-warning" (click)="addTab(selectAfterAdding)">Agregar sesion</button>
              </div>
              <div class="col-md-5"></div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <mat-tab-group [selectedIndex]="selected.value" (selectedIndexChange)="manda($event+1)">
                  <mat-tab *ngFor="let tab of tabs; let index = index" [label]="tab">

                    <div class="row">
                      <div class="col-md-4">
                        <mat-form-field>
                          <mat-label>Nombre de la sesion:</mat-label>
                          <input matInput type="text" [(ngModel)]="allSesiones[index].nombre">
                        </mat-form-field>
                      </div>

                      <div class="col-md-4">
                        <mat-form-field>
                          <mat-label>Aprendizajes clave</mat-label>
                          <input type="text" matInput [(ngModel)]="allSesiones[index].apren_clave">
                        </mat-form-field>
                      </div>

                      <div class="col-md-4">
                        <mat-form-field>
                          <mat-label>Material necesario</mat-label>
                          <input type="text" matInput [(ngModel)]="allSesiones[index].objetivo">
                        </mat-form-field>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-2"></div>
                      <div class="col-md-8">
                        <mat-form-field class="text-center">
                          <mat-label class="text-center">Objetivo</mat-label>
                          <input type="text" matInput class="text-center"
                            [(ngModel)]="allSesiones[index].mat_necesario">
                        </mat-form-field>
                      </div>
                      <div class="col-md-2"></div>
                    </div>

                    <div class="row">
                      <div class="col-md-6">
                        <mat-form-field class="example-full-width">
                          <textarea matInput placeholder="Introcuccion"
                            [(ngModel)]="allSesiones[index].introduccion"></textarea>
                        </mat-form-field>
                      </div>

                      <div class="col-md-6">
                        <mat-form-field class="example-full-width">
                          <textarea matInput placeholder="Ice Break"
                            [(ngModel)]="allSesiones[index].ice_break"></textarea>
                        </mat-form-field>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-6">
                        <mat-form-field class="example-full-width">
                          <textarea matInput placeholder="Contenido"
                            [(ngModel)]="allSesiones[index].contenido"></textarea>
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field class="example-full-width">
                          <textarea matInput placeholder="Descanso"
                            [(ngModel)]="allSesiones[index].descanso"></textarea>
                        </mat-form-field>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-6">
                        <mat-form-field class="example-full-width">
                          <textarea matInput placeholder="Desarrollo "
                            [(ngModel)]="allSesiones[index].desarrollo"></textarea>
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field class="example-full-width">
                          <textarea matInput placeholder="Cierre" [(ngModel)]="allSesiones[index].cierre"></textarea>
                        </mat-form-field>
                      </div>
                    </div>
                    <div style="text-align: center;">
                      <button class="btn btn-primary" [disabled]="tabs.length === 0"
                        (click)="saveSesion(allSesiones[index], index)">
                        <!-- (click)="guardar(index)"> -->
                        Guardar
                      </button>

                      <button class="btn btn-danger" [disabled]="tabs.length === 1" (click)="removeTab(index)">
                        Cancelar
                      </button>
                    </div>
                  </mat-tab>
                </mat-tab-group>
              </div>
            </div>
          </div>
        </div>

        <br>

      </div>
    </div>
  </div>
</div>
<app-fotter></app-fotter>