<div class="body">

<br>
<br>
<div class="col-xl-12 col-md-12 body">
        <div class="col-xl-4 col-md-6 oculto">
                <div class="card bg-warning mini-stat position-relative">
                 <div class="card-body">
                    <div class="mini-stat-desc">
                      Hola
                      </div>
                    </div>
                  </div>
                </div>  
                <div class="col-xl-4 col-md-6">
                        <div class="card bg-light mini-stat position-relative">
                         <div class="card-body">
                            <div class="mini-stat-desc">
                                 <mat-progress-bar mode="indeterminate" [ngStyle]="{'display':barra}"></mat-progress-bar>

                                    <img src="../assets/images/logoch.png" alt="" class="banner">

                                    <h4 class="text-muted font-18 m-b-5 text-center">Bienvenido!</h4>
                                    <p class="text-muted text-center">Inicia Sesión para continuar a RoboGenius.</p>
                      
                                    <form  #loginForm="ngForm" (ngSubmit)="login(loginForm)"> 
                                            <label  for="email">Correo electrónico</label>
                                            <input type="text" name="email" id="email" [(ngModel)]="em" ngModel placeholder="Ingrese correo electrónico" class="form-control"  required >
                                            <!-- Error: email incorrecto -->
                      
                                      
                                            <label for="userpassword">Contraseña</label>
                                            <input type="password" name="password" id="password" [(ngModel)]="ps"ngModel placeholder="Ingrese contraseña"  class="form-control"required>
                                            <!-- Error: contraseña incorrecta -->
                                        

                      
                      <!-- Remember-me button -->
                                        <div class="form-group row m-t-20">
                                            <div class="col-12">
                                                <div class="custom-control custom-checkbox">
                                                  
                                                    <button class="btn btn-primary btn-lg btn-block w-md waves-effect waves-light waves-effect waves-light "  id="sa-params" style="filter: drop-shadow(5px 5px 10px #444);"type="submit">Iniciar Sesión</button>

                                                </div>
                                            </div>

                                        </div>
                                  <div class="m-t-40 text-center ">
                                    <p class="text-black-50 " >¿No tienes una cuenta? <a  href="#" [routerLink]="['/registrar']" class="text-blue " style="font-size:20px"> Regístrate ahora </a> </p>
                                    <p class="text-black-50 " ><a href="#"  onclick="return false;" (click)="forgotPassword()" class="text-blue " style="font-size:20px; background: none;
                                      border: 0;">¿Olvidaste tu contraseña?</a> </p>

                                    <p class="text-black-50 " >¿Eres alumno ? <a  href="#" [routerLink]="['/loginalumnos']" class="text-blue " style="font-size:20px"> Entra ya</a> </p>
                                    <p class="text-black-50 " >¿Eres Personal ? <a  href="#" [routerLink]="['/loginpersonal']" class="text-blue " style="font-size:20px"> Entra ya</a> </p>

                                  </div>
                      
                                </form> 
                              </div>
                            </div>
                          </div>
                        </div> 
                        <div class="col-xl-4 col-md-6 oculto">
                                <div class="card bg-warning mini-stat position-relative">
                                 <div class="card-body">
                                    <div class="mini-stat-desc">
                                      Hola
                                      </div>
                                    </div>
                                  </div>
                                </div> 

</div>
</div>

         
          
<!--           
<img src="assets/images/logola.png" width="180"  class="float-right" alt="...">
          <div class="p-3">
                  <br>
                  <br>
                  <br>
              <h4 class="text-muted font-18 m-b-5 text-center">Bienvenido!</h4>
              <p class="text-muted text-center">Inicia Sesión para continuar a RoboGenius.</p>

  


          </div>
        
      </div> -->

     
        
       

        
