<div class="container" style="height:420px;">
    <!-- <h3 mat-dialog-title style="text-align: center;">Nuevo registro</h3> -->
    <div class="row" mat-dialog-title>
        <button mat-icon-button align="right" ><mat-icon>cancel_presentation</mat-icon></button>
      <h3  align="left">Nueva escuela</h3>
      
    </div>
  
    <form mat-dialog-content (ngSubmit)="submit" style="height:380px;" #formControl="ngForm">
  
      <div class="form">
        <mat-form-field color="accent"  style="width: 340px;">
          <input matInput placeholder="Nombre" [(ngModel)]="data.nombre" name="nombre" required >
          <mat-error *ngIf="fControl.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>
  
      <div class="form">
        <mat-form-field color="accent" style="width: 340px;">
          <input matInput placeholder="Representante" [(ngModel)]="data.representante" name="representante" required>
          <mat-error *ngIf="fControl.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>
  
      <div class="form">
        <mat-form-field color="accent" style="width: 340px;">
          <textarea matInput placeholder="Dirección" [(ngModel)]="data.direccion" name="direccion" required></textarea>
          <mat-error *ngIf="fControl.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>
      <div class="form">
          <mat-form-field color="accent" style="width: 340px;">
            <input matInput [(ngModel)]="data.telefono"  #message  maxlength="10" name="data.telefono" placeholder="Telefono"
              type="text" pattern="[0-9]{10}">
            <mat-hint align="end">{{message.value.length}} / 10</mat-hint>
            <mat-error    
            *ngIf="formControl.invalid" 
             > Teléfono inccorrecto
            </mat-error>
          </mat-form-field>
        </div>
  
        <div class="form ">
            <mat-form-field color="accent" style="width: 340px;">
              <input matInput [(ngModel)]="data.correouno" #input  name="correo" placeholder="Correo"
                pattern="[^ @]*@[^ @]*" required>
              <mat-error    
              *ngIf="formControl.invalid" 
               > Correo Incorrecto
              </mat-error>
            </mat-form-field>
          </div>
      
  
      <div mat-dialog-actions>
        <button class="btn btn-success" [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="confirmAdd()" style="margin-top:40px;margin-left: 80px; margin-right: 40px;">Guardar</button>
        <button class="btn btn-danger" (click)="onNoClick()" tabindex="-1" style="margin-top: 40px;">Cancelar</button>
      </div>
    </form>
  </div>