<div class="container">
  <h3 mat-dialog-title>Nuevo registro</h3>
  <!--  -->
  <form class="mat-dialog-content" (ngSubmit)="submit">

    <div class="form">
      <!-- La clase example-full-width es para cambiar el tamaño en el archivo CSS -->
      <mat-form-field color="blue"  class="example-full-width">
        <input matInput #input placeholder="Nombre" [(ngModel)]="data.nombre" name="nombre" required>
        <mat-error *ngIf="fControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="blue"  class="example-full-width">
        <input matInput #input placeholder="Representante" [(ngModel)]="data.representante" name="representante" required>
        <mat-error *ngIf="fControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="blue"  class="example-full-width">
        <input matInput #input placeholder="Dirección" [(ngModel)]="data.direccion" name="direccion" required>
        <mat-error *ngIf="fControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="blue"  class="example-full-width" hintLabel="10 numeros máximo" >
        <input matInput #input placeholder="Telefono" maxlength="10" type="tel" #telefono [(ngModel)]="data.telefono" name="telefono" required>
        <mat-hint align="end">{{telefono.value?.length || 0}}/10</mat-hint>
        <mat-error *ngIf="fControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="blue"  class="example-full-width">
        <input matInput #input placeholder="Correo" [(ngModel)]="data.correo" name="correo" [formControl]="fControl" required>
        <mat-error *ngIf="fControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <div mat-dialog-actions>
      <button mat-button [type]="submit" [disabled]="!fControl.valid" [mat-dialog-close]="1" (click)="confirmAdd()">Guardar</button>
      <button mat-button (click)="onNoClick()" tabindex="-1">Cancelar</button>
    </div>
  </form>
</div>