<mat-progress-bar mode="indeterminate" [ngStyle]="{'display':barra}"></mat-progress-bar>
          <br>
          <div class="row">
            <div class="col-md-4">
              <mat-form-field class="col-xl-10">
                <mat-label>Nivel: </mat-label>
                <!-- <mat-select [(value)]="NIVEL" (selectionChange)="SelectNivel($event)"> -->

                <mat-select [(value)]="NIVEL" (selectionChange)="nivelChange(NIVEL, $event)" [disabled]="dis">
                  <mat-option *ngFor="let clases of persona" value="{{clases.idn}}">{{clases.nombre}}</mat-option>
                </mat-select>
              </mat-form-field>
              <button matTooltip="agregrar un nuevo nivel" class="agregrar"
                aria-label="Button that displays a tooltip when focused or hovered over" class="col-xl-2"
                mat-icon-button (click)="nuev()">
                <mat-icon>add</mat-icon>
              </button>
            </div>

            <div class="col-md-4">
              <mat-form-field class="col-xl-10">
                <mat-label>Grado: </mat-label>
                <!-- <mat-select [(value)]="GRADO" (selectionChange)="SelectGrado($event)"> -->
                <mat-select [(value)]="GRADO" (selectionChange)="gradoChange(GRADO, $event)" [disabled]="dis">
                  <mat-option *ngFor="let clases of grado" value="{{clases.idg}}">{{clases.nombre}}</mat-option>
                </mat-select>
              </mat-form-field>
              <button matTooltip="agregrar un nuevo grado" class="agregrar"
                aria-label="Button that displays a tooltip when focused or hovered over" class="col-xl-2"
                mat-icon-button (click)="gradomodal()">
                <mat-icon>add</mat-icon>
              </button>
            </div>

            <div class="col-md-4">

              <mat-form-field class="col-xl-10">
                <mat-label>Áreas de conocimiento: </mat-label>
                <mat-select [(value)]="AREA" (selectionChange)="gettema(AREA, $event)" multiple [disabled]="dis">
                  <mat-option *ngFor="let area of areadelconocimiento" value="{{area.idac}}">{{area.nomarea}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <button matTooltip="agregrar un nueva area" class="agregrar"
                aria-label="Button that displays a tooltip when focused or hovered over" class="col-xl-2"
                mat-icon-button (click)="areamodal()">
                <mat-icon>add</mat-icon>
              </button>
            </div>

          </div>

          <div class="row">
            <div class="col-md-4">
              <mat-form-field class="col-xl-10">
                <mat-label>Sub Areas de conocimiento: </mat-label>

                <!-- <mat-select [(value)]="subarea" (selectionChange)="getarc(subarea)" multiple> -->
                <mat-select [(value)]="subarea" multiple (selectionChange)="subareaChange(subarea, $event)"
                  [disabled]="dis">
                  <mat-option *ngFor="let sarea of subareas" value="{{sarea.idsac}}">{{sarea.nombre}}</mat-option>

                  <!-- <mat-select [(value)]="subarea" multiple>
            <mat-option *ngFor="let sarea of subareas" value="{{sarea.idsac}}">{{sarea.nombre}}</mat-option> -->
                </mat-select>
              </mat-form-field>
              <button matTooltip="agregrar un nueva sub-area" class="agregrar"
                aria-label="Button that displays a tooltip when focused or hovered over" class="col-xl-2"
                mat-icon-button (click)="addSAC()">
                <mat-icon>add</mat-icon>
              </button>
            </div>

            <div class="col-md-4">
              <mat-form-field class="col-xl-10">
                <mat-label>Temas: </mat-label>
                <mat-select [(value)]="TEMA" (selectionChange)="getsubtema(TEMA, $event)" [disabled]="dis">
                  <mat-form-field appearance="outline">
                    <input matInput placeholder="Buscar..." (keyup)="temaSearch($event.target.value)">
                  </mat-form-field>
                  <mat-option *ngFor="let tem of tema" value="{{tem.idt}}">{{tem.nomtema}}</mat-option>
                </mat-select>
              </mat-form-field>
              <button matTooltip="agregrar un nuevo tema"
                aria-label="Button that displays a tooltip when focused or hovered over" class="col-xl-2"
                mat-icon-button (click)="temamodal()">
                <mat-icon>add</mat-icon>
              </button>
            </div>

            <div class="col-md-4">
              <mat-form-field class="col-xl-10">
                <mat-label>Subtemas: </mat-label>

                <!-- <mat-select [(value)]="SUBTEMAS" (selectionChange)="final(SUBTEMAS)">
            <mat-option *ngFor="let sub of subtema" value="{{sub.nomsubt}}">{{sub.nomsubt}}</mat-option> -->

                <mat-select [(value)]="SUBTEMAS" (selectionChange)="subtemasChange(SUBTEMAS, $event)" [disabled]="dis">
                  <mat-form-field appearance="outline">
                    <input matInput placeholder="Buscar..." (keyup)="subtemaSearch($event.target.value)">
                  </mat-form-field>
                  <mat-option *ngFor="let sub of subtema" value="{{sub.ids}}">{{sub.nomsubt}}</mat-option>
                </mat-select>
              </mat-form-field>
              <button matTooltip="agregrar un nuevo subtema" class="agregrar"
                aria-label="Button that displays a tooltip when focused or hovered over" class="col-xl-2"
                mat-icon-button (click)="subtemaModal()">
                <mat-icon>add</mat-icon>
              </button>
            </div>

          </div>

          <div class="row">
            <div class="col-md-4">
              <mat-form-field class="col-xl-10">
                <mat-label>Herramientas </mat-label>
                <mat-select [(value)]="herramienta" multiple (selectionChange)="herramChange(herramienta, $event)"
                  [disabled]="dis">
                  <!-- <input  type="text"  > -->
                  <mat-form-field appearance="outline">
                    <input matInput placeholder="Buscar..." (keyup)="herraSearch($event.target.value)">
                  </mat-form-field>
                  <mat-option *ngFor="let herra of herramientas" value="{{herra.idherra}}">{{herra.nombre}}</mat-option>
                </mat-select>
              </mat-form-field>
              <button matTooltip="agregrar un nueva herramienta" class="agregrar"
                aria-label="Button that displays a tooltip when focused or hovered over" class="col-xl-2"
                mat-icon-button (click)="addHerra()">
                <mat-icon>add</mat-icon>
              </button>


              <div class="buttons">
                <button class="btn btn-success" [mat-dialog-close]="1" (click)="guardar()" style="margin-top:40px;margin-left: 80px; margin-right: 40px;">Guardar</button>

                <button class="btn btn-danger" (click)="onNoClick()" tabindex="-1" style="margin-top: 40px;">Cancelar</button>        
              </div>
            </div>