<div class="form-group"style="width:440px" >
  <h3 mat-dialog-title style="text-align: center;">Modificando</h3>

  <form  (ngSubmit)="submit" #formControl="ngForm" style="width: 400px;">

    <div class="form-group">
      <mat-form-field color="accent" style="width: 440px;">
        <input matInput #input   placeholder="Id" [(ngModel)]="data.idesc" name="idesc" required disabled>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
  
    <div class="form">
      <mat-form-field color="accent" style="width: 440px;">
        <input matInput #input   placeholder="Nombre" [(ngModel)]="data.nombre" name="nombre" required>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
  
    <div class="form">
      <mat-form-field color="accent" style="width: 440px;">
        <input matInput #input   placeholder="Representante" [(ngModel)]="data.representante" name="representante" required>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
  
    <div class="form">
      <mat-form-field color="accent" style="width: 440px;">
        <input matInput #input   placeholder="Dirección" [(ngModel)]="data.direccion" name="direccion" required>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
  
    <div class="form">
      <mat-form-field color="accent" style="width: 440px;">
        <input matInput #input   placeholder="Telefono" [(ngModel)]="data.telefono" name="telefono" required>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
  
    <div class="form">
      <mat-form-field color="accent" style="width: 440px;">
        <input matInput #input  placeholder="Correo" [(ngModel)]="data.correo" name="correo" required>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <div mat-dialog-actions >
      <button class="btn btn-success" [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1"
        (click)="stopEdit(data)" style="margin-left: 140px; margin-right: 40px;">Guardar</button>
      <button class="btn btn-danger" (click)="onNoClick()" tabindex="-1">Cancelar</button>
    </div>
  </form>
</div>