<h3 mat-dialog-title>Nuevo horario</h3>
<form class="formulario" #formControl="ngForm">
  <div class="row">

    <div class="form col-md-4">
      <mat-form-field>
        <mat-label>Seleccione un dia</mat-label>
        <mat-select name="iddia" required [(ngModel)]="data.idd">
          <mat-option *ngFor="let dia of dias" value="{{dia.iddia}}">{{dia.dia}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>


    <div class="form col-md-4">

      <mat-form-field>

        <mat-label>Seleccione un horario</mat-label>
        <mat-select required name="idh" [(ngModel)]="data.idh">
          <mat-option *ngFor="let hora of horas" value="{{hora.idh}}">{{hora.hora}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="form col-md-4">

      <mat-form-field>
        <mat-label>{{data.sucursal}}</mat-label>
        <mat-select required name="ide" [(ngModel)]="data.idsuc" disabled>
        </mat-select>
      </mat-form-field>
    </div>

  </div>

  <div mat-dialog-actions class="buttons">
    <button mat-raised-button [disabled]="!formControl.valid" (click)="stopEdit()" routerLinkActive="router-link-active" [mat-dialog-close]="1">
      Guardar</button>

    <button mat-raised-button (click)="onNoClick()"> Finalizar</button>
  </div>
</form>