<app-navbar></app-navbar>   

<div  class="encabezado"></div>

<div class="col-xl-12 col-md-12  imagenandname" *ngFor="let c of logs" >

        <form (ngSubmit)="upload();">

          <div class="containerss rounded-circle " for="nuestroinput">
          <label for="nuestroinput" id="prueba"  class=" rounded-circle "> 
  
                  <img src="assets/perfiles/Administradores/{{c.fotoadmin}}"for="nuestroinput"   class="image rounded-circle" >
                  </label>
                  <div class="overlay rounded-circle ">
                    <div class="text rounded-circle">
          <label for="nuestroinput" id="prueba"  class=" rounded-circle "> 
  
                          <img class="rounded-circle shadow pequeña jaja " for="nuestroinput"  src="https://cdn.pixabay.com/photo/2017/02/07/02/16/cloud-2044823_960_720.png"
                          data-holder-rendered="true">
              </label>
          <input type="file"  id="nuestroinput" class="rounded-circle perfilimagen" accept="image/*" (change)="seleccionarArchivo($event)">
  
                    </div>
                  </div>
                  <button class="btn btn-primary btn-sm"> ACTUALIZAR FOTO </button>
                </div>
                <br>
         
                <label  class="labeltitulo"> Administrador: {{c.nombre}}
                  <button mat-icon-button ="text-success" (click)="updateperfil(i, c.id, c.email, c.subname, c.password, c.nombre, c.apellidos, c.telefono)">
                    <mat-icon aria-label="Edit">edit</mat-icon>
                  </button></label>

          <br>
  
  
     
      </form>



        <mat-progress-bar color="warn"  mode='indeterminate' [ngStyle]="{display:barra}"></mat-progress-bar>     
</div>


<div class="row col-xl-12 fondodb" *ngFor="let c of logs" >
    <div class="col-xl-4">
        <br>
        <i class="mdi mdi-key-variant"> </i> <label> ID: </label>
        <span> {{c.id}} </span>
        <br>
        <i class="mdi mdi-cake-variant fecha"> </i> <label> Email: </label>
        <span> {{c.email}} </span>
        <br>
        <i class="mdi mdi-cake-variant fecha"> </i> <label> Subname: </label>
        <span> {{c.subname}} </span>
        <br>
        <i class="mdi mdi-account-multiple sexo"> </i> <label> Password: </label>
        <span> {{c.password}} </span>
        <br>
        <i class="mdi mdi-city domicilio"> </i> <label> Nombre: </label>
        <span> {{c.nombre}} </span>
        <br>
        <i class="mdi mdi-cellphone-iphone telefono"> </i> <label> Apellidos: </label>
        <span> {{c.apellidos}} </span>
        <br>
        <i class="mdi mdi-email correo"> </i> <label> Telefono: </label>
        <span> {{c.telefono}} </span>
        <br>

    </div>
        <div class="col-xl-8" style="max-width: none;">
        <!-- ----------------------- Tabs ----------------------- -->
<mat-tab-group >
    <!-- Tab de membresia -->
    <mat-tab style="width: 90%">
      <ng-template mat-tab-label>
        <i class="mdi mdi-account-card-details membresia"></i>
        Sucursales
      </ng-template>
     <div class="container">
          <mat-accordion>
              <h4 style="text-align: center;">Sucursales</h4>
  
          </mat-accordion>
      </div>
    </mat-tab>
  
    <!-- Tab de Horario -->
    <mat-tab>
      <ng-template mat-tab-label>
        <i class="mdi mdi-calendar-text horario"></i>
        Div libre
      </ng-template>
      <div class="container">
        
          sdsfghjkljkñl
  
      </div>
     
    


    </mat-tab>
  

  </mat-tab-group>

            </div>
            

</div>
<app-fotter></app-fotter>
