<app-navbar></app-navbar>   

<div  class="encabezado"></div>

<div class="col-xl-12 col-md-12  imagenandname" *ngFor="let c of logs" >
        <img class="rounded-circle shadow pequeña"  src="https://faros.hsjdbcn.org/sites/default/files/styles/ficha-contenido/public/nino-sonriendo-.jpg?itok=iurfn0Ky"
        data-holder-rendered="true">
        <br>
        <label  class="labeltitulo"> Administrador: {{c.nombre}} </label>
        <br>
        
</div>

<div class="row col-xl-12 fondodb" *ngFor="let c of logs" >
    <div class="col-xl-4">
        <br>
        <i class="mdi mdi-key-variant"> </i> <label> ID: </label>
        <span> {{c.id}} </span>
        <br>
        <i class="mdi mdi-cake-variant fecha"> </i> <label> Email: </label>
        <span> {{c.email}} </span>
        <br>
        <i class="mdi mdi-cake-variant fecha"> </i> <label> Subname: </label>
        <span> {{c.subname}} </span>
        <br>
        <i class="mdi mdi-account-multiple sexo"> </i> <label> Password: </label>
        <span> {{c.password}} </span>
        <br>
        <i class="mdi mdi-city domicilio"> </i> <label> Nombre: </label>
        <span> {{c.nombre}} </span>
        <br>
        <i class="mdi mdi-cellphone-iphone telefono"> </i> <label> Apellidos: </label>
        <span> {{c.apellidos}} </span>
        <br>
        <i class="mdi mdi-email correo"> </i> <label> Telefono: </label>
        <span> {{c.telefono}} </span>
        <br>

    </div>
        <div class="col-xl-8" style="max-width: none;">
        <!-- ----------------------- Tabs ----------------------- -->
<mat-tab-group >
    <!-- Tab de membresia -->
    <mat-tab style="width: 90%">
      <ng-template mat-tab-label>
        <i class="mdi mdi-account-card-details membresia"></i>
        Sucursales
      </ng-template>
     <div class="container">
          <mat-accordion>
              <h4 style="text-align: center;">Sucursales</h4>
  
          </mat-accordion>
      </div>
    </mat-tab>
  
    <!-- Tab de Horario -->
    <mat-tab>
      <ng-template mat-tab-label>
        <i class="mdi mdi-calendar-text horario"></i>
        Div libre
      </ng-template>
      <div class="container">
        
          sdsfghjkljkñl
  
      </div>
    </mat-tab>
  

  </mat-tab-group>

            </div>
            

</div>
<app-fotter></app-fotter>
