<mat-toolbar>
  <span>Membrecias </span>
  <span class="spacer"></span>
  Recargar datos:
  <!-- Boton para recargar datos -->
  <button mat-icon-button (click)="refresh()">
    <mat-icon>refresh</mat-icon>
  </button>
</mat-toolbar>

      <!-- Boton de agregar
<button mat-icon-button [routerLink]="['/personalform']" routerLinkActive="router-link-active" >
  <mat-icon aria-label="Nuevo Registro" class="add">add_circle_outline</mat-icon><span class="add"> Nuevo</span>
</button> -->

<div class="mat-elevation-z8">

  <!-- Barra de busqueda -->
  <div class="form">
    <mat-form-field floatPlaceholder="never" color="primary">
      <input matInput #filter placeholder="Buscar...">
    </mat-form-field>
  </div>

    <!-- Inicio de la tabla -->
  <mat-table #table [dataSource]="dataSource" matSort class="mat-cell">

    <ng-container matColumnDef="Id">
      <mat-header-cell *matHeaderCellDef mat-sort-header [ngStyle]="{display:tableview}">Id</mat-header-cell>
      <mat-cell *matCellDef="let row" [ngStyle]="{display:tableview}">{{row.Id}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="Membrecia">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Membrecia</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.Membrecia}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="Alumno">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Alumno</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.Alumno}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="Pago">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Pago</mat-header-cell>
      <mat-cell *matCellDef="let row" > {{row.Pago}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="Adelanto">
      <mat-header-cell *matHeaderCellDef mat-sort-header >Adelanto</mat-header-cell>
      <mat-cell *matCellDef="let row" > {{row.Adelanto}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="Restante">
      <mat-header-cell *matHeaderCellDef mat-sort-header >Restante
      </mat-header-cell>
      <mat-cell *matCellDef="let row" > {{row.Restante}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="Total">
      <mat-header-cell *matHeaderCellDef mat-sort-header >Total</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.Total}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="InicioMembrecia">
      <mat-header-cell *matHeaderCellDef mat-sort-header >InicioMembrecia</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.InicioMembrecia}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="idalu">
      <mat-header-cell *matHeaderCellDef mat-sort-header [ngStyle]="{display:tableview}">idalu</mat-header-cell>
      <mat-cell *matCellDef="let row" [ngStyle]="{display:tableview}"> {{row.idalu}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="idtipopago">
      <mat-header-cell *matHeaderCellDef mat-sort-header [ngStyle]="{display:tableview}">idtipopago</mat-header-cell>
      <mat-cell *matCellDef="let row" [ngStyle]="{display:tableview}"> {{row.idtipopago}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="idtmem">
      <mat-header-cell *matHeaderCellDef mat-sort-header [ngStyle]="{display:tableview}">idtmem</mat-header-cell>
      <mat-cell *matCellDef="let row" [ngStyle]="{display:tableview}"> {{row.idtmem}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="activo">
      <mat-header-cell *matHeaderCellDef mat-sort-header >activo</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.activo}}</mat-cell>
    </ng-container>


    <!-- <ng-container matColumnDef="icons">
      <mat-header-cell *matHeaderCellDef mat-sort-header >Acciones</mat-header-cell>
      <mat-cell *matCellDef="let row; let i=index;"> -->
        <!-- En el boton de editar se manda al mentodo todos los datos de row -->
        <!-- <button mat-icon-button class="text-success" 
        (click)="onUpdate(i, row.Id, row.Membrecia,row.Alumno,
        row.Pago, row.Adelanto, row.Restante, row.Total, row.InicioMembrecia,
        row.idalu, row.idtipopago ,row.idtmem, row.activo)">
          <mat-icon aria-label="Edit">edit</mat-icon>
        </button> -->

        <!-- En el boton de eliminar se manda llamar a la funcion y se le envia el id
        <button mat-icon-button class="text-danger" (click)="delete(i,row.idper, row.nombre, row.apellidos)">
          <mat-icon aria-label="Delete">delete</mat-icon>
        </button> -->
      <!-- </mat-cell>
    </ng-container> -->

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <!-- Solo mientras no aparezcan datos -->
  <div class="no-results" [style.display]="dataSource.renderedData.length == 0 ? '' : 'none'">
      <!-- Spinner de carga -->
    <mat-spinner class="text-success"></mat-spinner>
  </div>

  <!-- Seccion de la paginacion -->
  <mat-paginator #paginator 
    [length]="dataSource.filteredData.length" 
    [pageIndex]="0" 
    [pageSize]="5"
    [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
</div>