<div class="container" style="height:300px;">
  <h3 mat-dialog-title style="text-align: center;">Nuevo registro</h3>

  <form class="mat-dialog-content" #formControl="ngForm" style="height:270px;">

    <div class="form">
      <mat-form-field color="accent">
        <input matInput placeholder="Nombre" [(ngModel)]="data.nombre" name="nombre">
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <input matInput placeholder="Fecha inicial" [(ngModel)]="data.fechainicial" name="fechainicial">
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <input matInput placeholder="Fecha final" [(ngModel)]="data.fechafinal" name="fechafinal">
      </mat-form-field>
    </div>

    <div mat-dialog-actions>
      <button [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="confirmAdd()"  class="btn btn-success" style="margin-left:10px; margin-right: 40px;">Guardar</button>
      <button (click)="onNoClick()" tabindex="-1" class="btn btn-danger">Cancel</button>
    </div>
  </form>
</div>