<div class="container">
  <h3 mat-dialog-title>Añadir nuevo</h3>
  <!-- Formulario de personal -->
  <div class="mat-dialog-content">

    <div class="form-group">
      <mat-form-field>
        <input class="form-control" [(ngModel)]="persona.nombre" matInput placeholder="Nombre(s)">
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field>
        <input class="form-control" [(ngModel)]="persona.apellidos" matInput placeholder="Apellidos">
      </mat-form-field>
    </div>


    <div class="form-group">
      <mat-form-field>
        <mat-label>Sexo: </mat-label>
        <mat-select [(ngModel)]="persona.sexo" [(value)]="selectedsex">
          <mat-option value="Hombre">Hombre</mat-option>
          <mat-option value="Mujer">Mujer</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field>
        <input class="form-control" [(ngModel)]="persona.curp" matInput placeholder="CURP" upperCase>
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field>
        <input class="form-control" [(ngModel)]="persona.fechanac" matInput [matDatepicker]="picker"
          placeholder="Fecha de nacimiento">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field class="mitad">
        <textarea [(ngModel)]="persona.domicilio" matInput placeholder="Domicilio"></textarea>
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field>
        <input class="form-control" [(ngModel)]="persona.perfilprofesional" matInput placeholder="Perfil profesional">
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field>
        <input class="form-control" [(ngModel)]="persona.especialidad" matInput placeholder="Especialidad">
      </mat-form-field>
    </div>


    <div class="form-group">
      <mat-form-field>
        <input type="data" class="form-control" [(ngModel)]="persona.fechaingreso" matInput placeholder="Fecha de ingreso" [value]="jstoday" name="fechaingreso" required>
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field>
        <input class="form-control" [(ngModel)]="persona.horaentrada" matInput placeholder="Hora de entrada"
          [ngxTimepicker]="defaultValue" [value]="" readonly>
        <ngx-material-timepicker #defaultValue></ngx-material-timepicker>
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field>
        <input class="form-control" [(ngModel)]="persona.horasalida" matInput placeholder="Hora de salida"
          [ngxTimepicker]="default" readonly>
        <ngx-material-timepicker #default></ngx-material-timepicker>
      </mat-form-field>
    </div>

    <div></div>
    <div class="form-group">
      <mat-form-field>
        <mat-label>Estado civil: </mat-label>
        <mat-select [(ngModel)]="persona.estadocivil" [(value)]="selectedestado">
          <mat-option value="Casado(a)">Casado(a)</mat-option>
          <mat-option value="Soltero(a)">Soltero(a)</mat-option>
          <mat-option value="Sin especificar">Sin especificar</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field class="mitad">
        <textarea class="form-control" [(ngModel)]="persona.tareasasignadas" matInput
          placeholder="Tareas a realizar"></textarea>
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field>
        <mat-label>Tipo de Personal: </mat-label>
        <mat-select [(ngModel)]="persona.idtper" (selectionChange)="tipoChange($event)" [(value)]="selectedtp" matSelect class="form-control">
          <mat-option value="1">--Selecciona una opción--</mat-option>
          <mat-option value="2">Instructor</mat-option>
          <mat-option value="0">Limpieza</mat-option>
        </mat-select>
      </mat-form-field>
    </div>


    <div class="form-group">
      <mat-form-field [ngStyle]="{display:visibility}">
        <input class="form-control" [(ngModel)]="persona.usuario" [(value)]="cleanCamps" matInput placeholder="Usuario"
          [disabled]="isDisable">
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field [ngStyle]="{display:visibility}">
        <input class="form-control" [(ngModel)]="persona.contra" [(value)]="cleanCamps" matInput
          placeholder="Contraseña" [type]="hide ? 'password' : 'text'" [disabled]="isDisable">
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field>
        <input class="form-control" [(ngModel)]="persona.salariomensual" matInput placeholder="Salario mensual"
          type="number" class="example-right-align">
        <span matPrefix>$&nbsp;</span>
      </mat-form-field>
    </div>
    <button (click)="savePersonal(persona)" type="submit" class="btn btn-primary waves-effect waves-light">
      Submit
    </button>
    <button (click)="showDate()" type="submit" class="btn btn-primary waves-effect waves-light">
      Button</button>
  </div>
<!-- formulario de grupos -->
  <div>
    <span [ngStyle]="{display:visibilityspan}">La asignación de grupos es unicamente para el personal de tipo
      instrutor</span>
    <div [ngStyle]="{display:visibility}">
      <button mat-raised-button class="example-add-tab-button" (click)="addTab(selectAfterAdding.checked)">
        Agregar nuevo horario
      </button>
      <mat-checkbox #selectAfterAdding> Select tab after adding </mat-checkbox>
    </div>
  
    <mat-tab-group [selectedIndex]="selected.value" (selectedIndexChange)="selected.setValue($event)"
      [ngStyle]="{display:visibility}">
      <mat-tab *ngFor="let tab of tabs; let index = index" [label]="tab">
        {{tab}}
        <mat-form-field>
          <mat-label>Dias: </mat-label>
          <mat-select [(ngModel)]="detallegrupo.idd"  [disabled]="isDisable">
            <mat-option value="1">Lunes</mat-option>
            <mat-option value="2">Martes</mat-option>
            <mat-option value="3">Miercoles</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Horario: </mat-label>
          <mat-select [(ngModel)]="detallegrupo.idh"  [disabled]="isDisable">
            <mat-option value="1">7:00</mat-option>
            <mat-option value="2">8:00</mat-option>
            <mat-option value="3">9:00</mat-option>
          </mat-select>
        </mat-form-field>
  
        <button mat-raised-button class="example-delete-tab-button" [disabled]="tabs.length === 1"
          (click)="saveDetallegrupos(index)">
          Agregar
        </button>
        <button mat-raised-button class="example-delete-tab-button" [disabled]="tabs.length === 1"
          (click)="removeTab(index)">
          Eliminar
        </button>
      </mat-tab>
    </mat-tab-group>
    <div>
      <button mat-button>Siguiente</button>
    </div>
  </div>
</div>