<mat-toolbar>
  <span>Personal</span>
  <span class="spacer"></span>
  Recargar datos:
  <!-- Boton para recargar datos -->
  <button mat-icon-button (click)="refresh()">
    <mat-icon>refresh</mat-icon>
  </button>
</mat-toolbar>

      <!-- Boton de agregar -->
<button mat-icon-button [routerLink]="['/#']" routerLinkActive="router-link-active" >
  <mat-icon aria-label="Nuevo Registro" class="add">add_circle_outline</mat-icon><span class="add"> Nuevo</span>
</button>

<div class="mat-elevation-z8">

  <!-- Barra de busqueda -->
  <div class="form">
    <mat-form-field floatPlaceholder="never" color="primary">
      <input matInput #filter placeholder="Buscar...">
    </mat-form-field>
  </div>

    <!-- Inicio de la tabla -->
  <mat-table #table [dataSource]="dataSource" matSort class="mat-cell">

    <ng-container matColumnDef="idalu">
      <mat-header-cell *matHeaderCellDef mat-sort-header [ngStyle]="{display:tableview}">Id</mat-header-cell>
      <mat-cell *matCellDef="let row" [ngStyle]="{display:tableview}">{{row.idalu}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="nombre">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.nombre}}</mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="apellidos">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Apellidos</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.apellidos}}</mat-cell>
    </ng-container>


    <ng-container matColumnDef="correo">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Correo</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.correo}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="fechanac">
      <mat-header-cell *matHeaderCellDef mat-sort-header [ngStyle]="{display:tableview}">Fecha de Nacimiento</mat-header-cell>
      <mat-cell *matCellDef="let row" [ngStyle]="{display:tableview}"> {{row.fechanac}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="edad">
      <mat-header-cell *matHeaderCellDef mat-sort-header [ngStyle]="{display:tableview}">Edad</mat-header-cell>
      <mat-cell *matCellDef="let row" [ngStyle]="{display:tableview}"> {{row.edad}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="iddom">
      <mat-header-cell *matHeaderCellDef mat-sort-header [ngStyle]="{display:tableview}">Id domicilio
      </mat-header-cell>
      <mat-cell *matCellDef="let row" [ngStyle]="{display:tableview}"> {{row.iddom}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="alergias">
      <mat-header-cell *matHeaderCellDef mat-sort-header [ngStyle]="{display:tableview}">Alergias</mat-header-cell>
      <mat-cell *matCellDef="let row" [ngStyle]="{display:tableview}"> {{row.alergias}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="cronica">
      <mat-header-cell *matHeaderCellDef mat-sort-header [ngStyle]="{display:tableview}">Cronica</mat-header-cell>
      <mat-cell *matCellDef="let row" [ngStyle]="{display:tableview}"> {{row.cronica}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="medicacion">
      <mat-header-cell *matHeaderCellDef mat-sort-header [ngStyle]="{display:tableview}">Medicación</mat-header-cell>
      <mat-cell *matCellDef="let row" [ngStyle]="{display:tableview}"> {{row.medicacion}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="otro">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Otro</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.otro}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="sexo">
      <mat-header-cell *matHeaderCellDef mat-sort-header [ngStyle]="{display:tableview}">Sexo</mat-header-cell>
      <mat-cell *matCellDef="let row" [ngStyle]="{display:tableview}"> {{row.sexo}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="domicilio">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Domicilio</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.domicilio}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="idpadre">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Id Padre</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.idpadre}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="tel1cm">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Telefono 1cm</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.tel1cm}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="tel2cm">
      <mat-header-cell *matHeaderCellDef mat-sort-header [ngStyle]="{display:tableview}">Telefono 2cm</mat-header-cell>
      <mat-cell *matCellDef="let row" [ngStyle]="{display:tableview}"> {{row.tel2cm}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="nomb1cm">
      <mat-header-cell *matHeaderCellDef mat-sort-header [ngStyle]="{display:tableview}">Nombre 1cm</mat-header-cell>
      <mat-cell *matCellDef="let row" [ngStyle]="{display:tableview}"> {{row.nomb1cm}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="nomb2cm">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Nombre 2cm</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.nomb2cm}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="ruta">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Ruta</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.ruta}}</mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="evaluacion">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Evaluacion</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.evaluacion}}</mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="psw">
      <mat-header-cell *matHeaderCellDef mat-sort-header>PSW</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.psw}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="idgrupo">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Id Grupo</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.idgrupo}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="idcursos">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Id cursos</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.idcursos}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="idsuc">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Id sucursal</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.idsuc}}</mat-cell>
    </ng-container>
    

    <ng-container matColumnDef="icons">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Acciones</mat-header-cell>
      <mat-cell *matCellDef="let row; let i=index;">
        <!-- En el boton de editar se manda al mentodo todos los datos de row -->
        <button mat-icon-button class="text-success" 
        (click)="onUpdate(i, row.idalu, row.nombre,row.correo,
        row.fechanac, row.edad, row.iddom, row.alergias, row.cronica,
        row.medicacion, row.otro ,row.sexo, row.domicilio, row.idpadre,
        row.tel1cm, row.tel2cm, row.nomb1cm, row.nomb2cm,
        row.ruta,
        row.evaluacion,
        row.psw,
        row.idgrupo,
        row.idcursos,
        row.idsuc)">
          <mat-icon aria-label="Edit">edit</mat-icon>
        </button>

        <!-- En el boton de eliminar se manda llamar a la funcion y se le envia el id -->
        <button mat-icon-button class="text-danger" (click)="delete(i,row.idalu, row.nombre, row.correo)">
          <mat-icon aria-label="Delete">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <!-- Solo mientras no aparezcan datos -->
  <div class="no-results" [style.display]="dataSource.renderedData.length == 0 ? '' : 'none'">
      <!-- Spinner de carga -->
      <div class="loading">
        <span>Cargando...</span>
      </div>
  </div>

  <!-- Seccion de la paginacion -->
  <mat-paginator #paginator 
    [length]="dataSource.filteredData.length" 
    [pageIndex]="0" 
    [pageSize]="5"
    [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
</div>