<app-navbar></app-navbar>
<br>
<br>
<br>
<br>
<div class="col-xl-12 col-md-12 body">
  <div class="col-xl-12 col-md-12 ">
    <div class="card bg-light mini-stat position-relative">
      <div class="card-body">
        <div class="mini-stat-desc">
          <div class="col-xl-12 col-md-12">
            <div class="col-xl-4 col-md-12 ">
              <br>
              <br>
              <a [routerLink]="['/personal']" class="arrow-container">
                <div class="arrow"></div>
                <div class="arrow"></div>
                <div class="arrow"></div>
              </a>
            </div>
            <div class="col-xl-4 col-md-12">

              <h1 style="font-size: 30px; text-align: center;">Agregar nuevo personal</h1>
              <hr />
              <mat-progress-bar mode="indeterminate" [ngStyle]="{'display':barra}"></mat-progress-bar>
            </div>
            <div class="col-xl-4 col-md-12 ">
            </div>
          </div>
          <div class="col-xl-12 col-md-12">
            <h3 class="text-light">Agregar nuevo personal</h3>
            <div [ngStyle]="{'display':perso}">
              <form action="" #fControl="ngForm">
                <!-- <mat-form-field appearance="outline">
            <mat-label>Nombre(s)</mat-label>
            <input [(ngModel)]="persona.nombre" matInput placeholder="Nombre(s)">
          </mat-form-field> -->

               
                  <div class="containerss rounded-circle " for="nuestroinput" style="text-align: center;">
                    <label for="nuestroinput" id="prueba"  class=" rounded-circle "> 
                            <img #Profile src="{{API_ENDPOINT}}/perfiles/Personal/default.jpg"for="nuestroinput"   class="image rounded-circle" >
                            <!-- <h4>{{archivo.nombreArchivo}}</h4> -->
                            </label>
                            <div class="overlay rounded-circle">
                              <div class="text rounded-circle">
                    <label for="nuestroinput" id="prueba"  class=" rounded-circle "> 
                                    <img class="rounded-circle shadow pequeña jaja " for="nuestroinput"  src="https://cdn.pixabay.com/photo/2017/02/07/02/16/cloud-2044823_960_720.png"
                                    data-holder-rendered="true">
                        </label>
                    <input type="file"  id="nuestroinput" class="rounded-circle perfilimagen" accept="image/*" (change)="seleccionarArchivo($event)">
                              </div>
                            </div>
                            <!-- <button [ngStyle]="{'display': btnChange}" class="btn btn-primary btn-sm"> SUBIR FOTO </button> -->
                          </div>
                          <br>
                
                
               
                  <div class="col-xl-4 col-md-12 ">
                  <mat-form-field>
                    <input name="nombre" class=" example-right-align" [(ngModel)]="persona.nombre" matInput upperCase
                      placeholder="Nombre(s)" required>
                  </mat-form-field>

                </div>
                <div class="col-xl-4 col-md-12">
                  
                  <mat-form-field>
                    <input name="apellidos" class="example-right-align" [(ngModel)]="persona.apellidos" upperCase
                      matInput placeholder="Apellidos" required>
                  </mat-form-field>

                </div>

                <div class="col-xl-4 col-md-12">
                  <mat-form-field>
                    <mat-label>Sexo: </mat-label>
                    <mat-select name="sexo" [(ngModel)]="persona.sexo" [(value)]="selectedsex" required>
                      <mat-option value="Hombre">Hombre</mat-option>
                      <mat-option value="Mujer">Mujer</mat-option>
                    </mat-select>
                  </mat-form-field>

                </div>
                <br>
                <br>
                <br>
                <br>

                <div class="col-xl-4 col-md-12">
                  <mat-form-field>
                    <input name="fechanac" class="example-right-align" [(ngModel)]="persona.fechanac" matInput
                      placeholder="Fecha de nacimiento" format="YYYY/mm/dd" type="date" required>
                    <mat-icon matSuffix class="text-danger">today</mat-icon>
                  </mat-form-field>

                </div>

                <div class="col-xl-4 col-md-12">
                  <mat-form-field>
                    <input name="salariomensual" class="example-right-align" [(ngModel)]="persona.salariomensual"
                      matInput placeholder="Salario mensual" type="number" class="example-right-align" required>
                    <span matPrefix>$&nbsp;</span>
                  </mat-form-field>

                </div>

                <div class="col-xl-4 col-md-12">
                  <mat-form-field>
                    <input name="curp" class="example-right-align" [(ngModel)]="persona.curp" #message maxlength="18"
                      matInput name="CURP" placeholder="Curp" type="text" pattern="[A-Z]{4}[0-9]{6}[A-Z]{6}[0-9]{2}"
                      upperCase required>
                    <mat-error *ngIf="fControl.invalid">Curp incorrecto</mat-error>
                  </mat-form-field>
                </div>
                <br>
                <br>
                <br>
                <br>
                <div class="col-xl-4 col-md-12">
                  <mat-form-field>
                    <input name="perfilprofesional" class="example-right-align" [(ngModel)]="persona.perfilprofesional"
                      matInput placeholder="Perfil profesional" required>
                  </mat-form-field>

                </div>
                <div class="col-xl-4 col-md-12">
                  <mat-form-field>
                    <input name="especialidad" class="example-right-align" [(ngModel)]="persona.especialidad" matInput
                      placeholder="Especialidad" required>
                  </mat-form-field>

                </div>


                <div class="col-xl-4 col-md-12">


                  <mat-form-field title="Ingresa la fecha de cuando inicia a laborar.">
                    <input name="fechaingreso" class="example-right-align" [(ngModel)]="persona.fechaingreso" matInput
                      placeholder="Fecha de ingreso" format="YYYY/mm/dd" type="date"
                      title="Ingresa la fecha de cuando inicia a laborar." required>
                    <mat-icon matSuffix class="text-danger">today</mat-icon>


                  </mat-form-field>

                </div>
                <br>
                <br>
                <br>
                <br>
                <div class="col-xl-4 col-md-12">
                  <mat-form-field>
                    <input required name="horaen" class="example-right-align" matInput placeholder="Hora de Entrada"
                      value="{{selectedTime}}" for="he" (click)="open()" readonly>
                    <!-- <mat-datepicker-toggle matSuffix (click)="open()" ></mat-datepicker-toggle> -->
                    <mat-icon class="text-success" svgIcon="thumbs-up" aria-hidden="false" name="he"
                      aria-label="Example thumbs up SVG icon" matSuffix (click)="open()"></mat-icon>
                  </mat-form-field>

                </div>
                <div class="col-xl-4 col-md-12">
                  <mat-form-field>
                    <input required name="horasal" class="example-right-align" matInput placeholder="Hora de Salida"
                      value="{{selectedTimes}}" (click)="opens()" readonly>
                    <!-- <mat-datepicker-toggle matSuffix (click)="open()" ></mat-datepicker-toggle> -->
                    <mat-icon class="text-danger" svgIcon="thumbs-up" aria-hidden="false"
                      aria-label="Example thumbs up SVG icon" matSuffix (click)="opens()"></mat-icon>
                  </mat-form-field>

                </div>
                <div class="col-xl-4 col-md-12">
                  <mat-form-field>
                    <mat-label>Estado civil: </mat-label>
                    <mat-select name="estadocivil" [(ngModel)]="persona.estadocivil" [(value)]="selectedestado"
                      required>
                      <mat-option value="Casado(a)">Casado(a)</mat-option>
                      <mat-option value="Soltero(a)">Soltero(a)</mat-option>
                      <mat-option value="Sin especificar">Sin especificar</mat-option>
                    </mat-select>
                  </mat-form-field>

                </div>
                <br>
                <br>
                <br>
                <br>

                <div class="col-xl-4 col-md-12">
                  <mat-form-field class="mitad">
                    <textarea required name="tareas" class="example-right-align" [(ngModel)]="persona.tareasasignadas"
                      matInput placeholder="Tareas a realizar"></textarea>
                  </mat-form-field>

                </div>

                <div class="col-xl-4 col-md-12">
                  <mat-form-field class="col-xl-10">
                    <mat-label>Tipo de Personal: </mat-label>
                    <mat-select required name="idtper" [(ngModel)]="persona.idtper" [(value)]="selectedtp"
                      (selectionChange)="tipoChange(persona.idtper)">
                      <mat-option *ngFor="let tp of selectTPersonal" value="{{tp.idtper}}">{{tp.tipo}}</mat-option>
                    </mat-select>
                  </mat-form-field>

                  <a matTooltip="Agregar un nuevo tipo de personal"
                    aria-label="Button that displays a tooltip when focused or hovered over" class="col-xl-2"
                    mat-icon-button (click)="nuevoTPersonal()"> 
                    <mat-icon>add</mat-icon>
                  </a>
                </div>

                <div class="col-xl-4 col-md-12">
                  <mat-form-field>
                    <textarea required name="domicilio" [(ngModel)]="persona.domicilio" matInput
                      placeholder="Domicilio"></textarea>
                    <mat-icon matSuffix class="text-danger">room</mat-icon>
                  </mat-form-field>

                </div>
                <br>
                <br>
                <br>
                <br>
                <div class="col-xl-4 col-md-12">
                  <mat-form-field [ngStyle]="{display:visibility}">
                    <input name="usuario" class="example-right-align" [(ngModel)]="persona.usuario"
                      [(value)]="cleanCamps" matInput placeholder="Usuario">
                  </mat-form-field>
                </div>
                <div class="col-xl-4 col-md-12">
                  <mat-form-field [ngStyle]="{display:visibility}">
                    <!-- <mat-form-field> -->
                    <input name="contra" class="example-right-align" [(ngModel)]="persona.contra" [(value)]="cleanCamps"
                      matInput placeholder="Contraseña" [type]="hide ? 'password' : 'text'">
                    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </mat-form-field>
                </div>
                <div class="col-xl-4 col-md-12">




                  <div mat-dialog-actions>
                    <br>

                    <button [disabled]="!fControl.valid" (click)="savePersonal(persona)"
                      class="btn btn-large btn-block btn-primary" type="submit">
                      Guardar
                    </button>
                  </div>

                </div>
              </form>
            </div>






            <!-- ------------------------------ formulario de grupos ------------------------------ -->
            <div class="col-xl-12 col-md-12 ">
              <div class="col-xl-1">
              </div>
              <div class="col-xl-12 col-md-12">
                <div [ngStyle]="{display:horarios}">
                  <!-- <div> -->
                  <h1 style="text-align: center;">Asignación de grupos</h1>

                  <br>
                  <div style="text-align: center;">
                    <button class="btn btn-warning" (click)="addTab(selectAfterAdding.checked)">
                      Agregar mi horario
                    </button>
                    <br>
                    <mat-checkbox #selectAfterAdding> Seleccionar horario despues de agregar </mat-checkbox>
                    <br>
                      <button class="btn btn-info" [routerLink]="['/personal']" routerLinkActive="router-link-active">
                        Finalizar </button>
                  </div>
                </div>
                <!-- <mat-tab-group [selectedIndex]="selected.value" (selectedIndexChange)="selected.setValue($event)" -->
                <!-- > -->
                <mat-tab-group [selectedIndex]="selected.value" (selectedIndexChange)="selected.setValue($event)"
                  [ngStyle]="{display:horarios}">
                  <!-- <mat-tab-group [selectedIndex]="selected.value" (selectedIndexChange)="selected.setValue($event)"> -->
                  <!-- <mat-tab-group [selectedIndex]="selected.value" (selectedIndexChange)="selected.setValue($event)"> -->
                  <mat-tab *ngFor="let tab of tabs; let index = index;" [label]="tab">
                    {{tab}}
                    <div class="col-md-12">
                      <mat-form-field class="col-md-5">

                        <mat-label>Dias: </mat-label>

                        <mat-select [(ngModel)]="horarioPersonal[index].idd" (selectionChange)="diasChange(horarioPersonal[index].idd)">
                          <mat-option *ngFor="let d of dias" value="{{d.iddia}}">{{d.dia}}</mat-option>

                        </mat-select>


                      </mat-form-field>
                      <!-- <button matTooltip="Agregar nuevo dia" class="col-md-2" mat-icon-button>
            <mat-icon>add</mat-icon>
          </button> -->

                      <mat-form-field class="col-md-5" align="left">
                        <mat-label>Horario: </mat-label>
                        <mat-select [(ngModel)]="horarioPersonal[index].idh" >
                          <mat-option *ngFor="let h of horas" value="{{h.idh}}">{{h.hora}}</mat-option>
                        </mat-select>

                      </mat-form-field>
                      <button (click)="nuevoHorario()" matTooltip="Agregar nuevo horario" class="col-md-2"
                        mat-icon-button>
                        <mat-icon>add</mat-icon>
                      </button>
                    </div>

                    <div style="text-align: center;">
                      <button class="btn btn-primary" [disabled]="tabs.length === 0"
                        (click)="saveDetallegrupos(horarioPersonal[index], index)" [type]="submit">
                        Guardar
                      </button>

                      <button class="btn btn-danger" [disabled]="tabs.length === 1" (click)="removeTab(index)">
                        Cancelar
                      </button>
                    </div>
                    <br><br>
                    
                  </mat-tab>
                </mat-tab-group>

              </div>

            </div>





          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<app-fotter></app-fotter>