<app-navbar></app-navbar>   
<br> 
<br> 
<br> 
<br> 
<div class="col-xl-12 col-md-12 body">
    <div class="col-xl-12 col-md-12 ">
        <div class="card bg-light mini-stat position-relative">
              <div class="card-body">
                 <div class="mini-stat-desc">
                    <div class="col-xl-12 col-md-12">
                       <div class="col-xl-5 col-md-12 ">
                       </div>
                          <div class="col-xl-2 col-md-12">
                             <h1 style="font-size: 30px; text-align: center;">Personal</h1>
                           </div>
                         <div class="col-xl-5 col-md-12 ">
                         </div>
                     </div>
                     
                         <div class="col-xl-12 col-md-12 ">
                          <mat-toolbar style="background: none; color: black;">
                            <span><button mat-icon-button [routerLink]="['/personalform']" routerLinkActive="router-link-active" >
                                <mat-icon aria-label="Nuevo Registro" >add_circle_outline</mat-icon><span > Nuevo</span>
                              </button></span>
                            <span class="spacer"></span>
                            Recargar datos:
                            <button mat-icon-button (click)="refresh()">
                              <mat-icon>refresh</mat-icon>
                            </button>
                          </mat-toolbar>
                          </div>
                          <div class="col-xl-12 col-md-12 ">
                              <mat-form-field floatPlaceholder="never"  style="width:100%; text-align: center;">
                                  <input matInput #filter placeholder="Buscar...">
                                </mat-form-field>
                          </div>
                          <div class="col-xl-12 col-md-12 "> 
                                                    
                                                            <!-- <mat-progress-bar [ngStyle]="{display:barra}"  mode="indeterminate"></mat-progress-bar> -->
      
                                                            <!-- Inicio de la tabla -->
                                                          <mat-table #table [dataSource]="dataSource" matSort class="mat-cell">
                                                      
                                                            <ng-container matColumnDef="idper">
                                                              <mat-header-cell *matHeaderCellDef mat-sort-header [ngStyle]="{display:tableview}">Id</mat-header-cell>
                                                              <mat-cell *matCellDef="let row" [ngStyle]="{display:tableview}">{{row.idper}}</mat-cell>
                                                            </ng-container>

                                                            <ng-container matColumnDef="nombre">
                                                              <mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</mat-header-cell>
                                                              <mat-cell *matCellDef="let row" data-label="nombre"> {{row.nombre}}</mat-cell>
                                                            </ng-container>
                                                        
                                                            <ng-container matColumnDef="apellidos">
                                                              <mat-header-cell *matHeaderCellDef mat-sort-header>Apellidos</mat-header-cell>
                                                              <mat-cell *matCellDef="let row" data-label="apellidos"> {{row.apellidos}}</mat-cell>
                                                            </ng-container>
                                                        
                                                            <ng-container matColumnDef="usuario">
                                                              <mat-header-cell *matHeaderCellDef mat-sort-header [ngStyle]="{display:tableview}">Usuario</mat-header-cell>
                                                              <mat-cell *matCellDef="let row" [ngStyle]="{display:tableview}"> {{row.usuario}}</mat-cell>
                                                            </ng-container>
                                                        
                                                            <ng-container matColumnDef="contra">
                                                              <mat-header-cell *matHeaderCellDef mat-sort-header [ngStyle]="{display:tableview}">Contraseña</mat-header-cell>
                                                              <mat-cell *matCellDef="let row" [ngStyle]="{display:tableview}"> {{row.contra}}</mat-cell>
                                                            </ng-container>
                                                        
                                                            <ng-container matColumnDef="fechanac">
                                                              <mat-header-cell *matHeaderCellDef mat-sort-header [ngStyle]="{display:tableview}">Fecha nacimiento
                                                              </mat-header-cell>
                                                              <mat-cell *matCellDef="let row" [ngStyle]="{display:tableview}"> {{row.fechanac}}</mat-cell>
                                                            </ng-container>
                                                        
                                                            <ng-container matColumnDef="sexo">
                                                              <mat-header-cell *matHeaderCellDef mat-sort-header [ngStyle]="{display:tableview}">Sexo</mat-header-cell>
                                                              <mat-cell *matCellDef="let row" [ngStyle]="{display:tableview}"> {{row.sexo}}</mat-cell>
                                                            </ng-container>
                                                        
                                                            <ng-container matColumnDef="curp">
                                                              <mat-header-cell *matHeaderCellDef mat-sort-header [ngStyle]="{display:tableview}">Curp</mat-header-cell>
                                                              <mat-cell *matCellDef="let row" [ngStyle]="{display:tableview}"> {{row.curp}}</mat-cell>
                                                            </ng-container>
                                                        
                                                            <ng-container matColumnDef="estadocivil">
                                                              <mat-header-cell *matHeaderCellDef mat-sort-header [ngStyle]="{display:tableview}">Estado civil</mat-header-cell>
                                                              <mat-cell *matCellDef="let row" [ngStyle]="{display:tableview}"> {{row.estadocivil}}</mat-cell>
                                                            </ng-container>
                                                        
                                                            <ng-container matColumnDef="domicilio">
                                                              <mat-header-cell *matHeaderCellDef mat-sort-header>Domicilio</mat-header-cell>
                                                              <mat-cell *matCellDef="let row"data-label="domicilio"> {{row.domicilio}}</mat-cell>
                                                            </ng-container>
                                                        
                                                            <ng-container matColumnDef="fechaingreso">
                                                              <mat-header-cell *matHeaderCellDef mat-sort-header [ngStyle]="{display:tableview}">Ingreso</mat-header-cell>
                                                              <mat-cell *matCellDef="let row" [ngStyle]="{display:tableview}"> {{row.fechaingreso}}</mat-cell>
                                                            </ng-container>
                                                        
                                                            <ng-container matColumnDef="horaentrada">
                                                              <mat-header-cell *matHeaderCellDef mat-sort-header>Entrada</mat-header-cell>
                                                              <mat-cell *matCellDef="let row" data-label="hora entrada"> {{row.horaentrada}}</mat-cell>
                                                            </ng-container>
                                                        
                                                            <ng-container matColumnDef="horasalida">
                                                              <mat-header-cell *matHeaderCellDef mat-sort-header>Salida</mat-header-cell>
                                                              <mat-cell *matCellDef="let row" data-label="hora salida"> {{row.horasalida}}</mat-cell>
                                                            </ng-container>
                                                        
                                                            <ng-container matColumnDef="perfilprofesional">
                                                              <mat-header-cell *matHeaderCellDef mat-sort-header>Perfil prof.</mat-header-cell>
                                                              <mat-cell *matCellDef="let row" data-label="perfil profesional"> {{row.perfilprofesional}}</mat-cell>
                                                            </ng-container>
                                                        
                                                            <ng-container matColumnDef="especialidad">
                                                              <mat-header-cell *matHeaderCellDef mat-sort-header [ngStyle]="{display:tableview}">Especialidad</mat-header-cell>
                                                              <mat-cell *matCellDef="let row" [ngStyle]="{display:tableview}"> {{row.especialidad}}</mat-cell>
                                                            </ng-container>
                                                        
                                                            <ng-container matColumnDef="tareasasignadas">
                                                              <mat-header-cell *matHeaderCellDef mat-sort-header [ngStyle]="{display:tableview}">Tareas</mat-header-cell>
                                                              <mat-cell *matCellDef="let row" [ngStyle]="{display:tableview}"> {{row.tareasasignadas}}</mat-cell>
                                                            </ng-container>
                                                        
                                                            <ng-container matColumnDef="salariomensual">
                                                              <mat-header-cell *matHeaderCellDef mat-sort-header>Salario mensual</mat-header-cell>
                                                              <mat-cell *matCellDef="let row" data-label="salario mensual"> {{row.salariomensual}}</mat-cell>
                                                            </ng-container>
                                                        
                                                            <ng-container matColumnDef="idtper">
                                                              <mat-header-cell *matHeaderCellDef mat-sort-header>Tipo personal</mat-header-cell>
                                                              <mat-cell *matCellDef="let row"> {{row.idtper}}</mat-cell>
                                                            </ng-container>
                                                        
                                                            <ng-container matColumnDef="icons">
                                                              <mat-header-cell *matHeaderCellDef mat-sort-header>Acciones</mat-header-cell>
                                                              <mat-cell *matCellDef="let row; let i=index; " data-label="Accion">
                                                                <!-- En el boton de editar se manda al mentodo todos los datos de row -->
                                                                <!-- <button mat-icon-button class="text-success" 
                                                                (click)="onUpdate(i, row.idper, row.nombre,row.apellidos,
                                                                row.usuario, row.contra, row.fechanac, row.sexo, row.curp,
                                                                row.estadocivil, row.domicilio ,row.fechaingreso, row.horaentrada, row.horasalida,
                                                                row.perfilprofesional, row.especialidad, row.tareasasignadas, row.salariomensual,
                                                                row.idtper)">
                                                                  <mat-icon aria-label="Edit">edit</mat-icon>
                                                                </button> -->
                                                  
                                                                <button mat-icon-button class="text-success" 
                                                                (click)="perfil(row)" [routerLink]="['/personalperfil']" routerLinkActive="router-link-active" >
                                                                  <mat-icon aria-label="Edit" >edit</mat-icon>
                                                                </button>
                                                        
                                                                <!-- En el boton de eliminar se manda llamar a la funcion y se le envia el id -->
                                                                <button mat-icon-button class="text-danger" (click)="delete(i,row.idper, row.nombre, row.apellidos)">
                                                                  <mat-icon aria-label="Delete">delete</mat-icon>
                                                                </button>
                                                              </mat-cell>
                                                            </ng-container>
                                                        
                                                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                                            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                                                          </mat-table>
                                                        
                                                          <!-- Solo mientras no aparezcan datos -->
                                                          <div class="no-results" [style.display]="dataSource.renderedData.length == 0 ? '' : 'none'">
                                                              <!-- Spinner de carga -->
                                                                <!-- <div class="loading">
                                                                  <span>Cargando...</span>
                                                                </div> -->
                                                                <img src="https://loading.io/spinners/eclipse/lg.ring-loading-gif.gif"  style="width: 20%; margin-left: 4%;">
                                                                
                                                            </div>
                                                        
                                                          <!-- Seccion de la paginacion -->
                                                          <mat-paginator #paginator 
                                                            [length]="dataSource.filteredData.length" 
                                                            [pageIndex]="0" 
                                                            [pageSize]="5"
                                                            [pageSizeOptions]="[5, 10, 25, 100]">
                                                          </mat-paginator>                <!-- Barra de busqueda -->
                                                        
                                                          
                                                    </div>
      
                                                  </div>
                                                </div>
                                                </div>
                                                </div>
                                                </div>
<app-fotter></app-fotter>
