<app-navbar></app-navbar>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <!-- Alumnos inactivos -->
      <div class="row">
        <h1 class="text-center">Alumnos</h1>
      </div>
      <div class="row">
        <div class="col-md-12">
          <app-inactivealu></app-inactivealu>
        </div>
      </div>
    </div>

    <!-- ------------------------- -->

    <div class="col-md-6">
      <!-- Personal inactivo -->
    </div>
  </div>
</div>

<app-fotter>
</app-fotter>