<div class="container">
  <h3 mat-dialog-title>bereeeeee</h3>

  <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">

    <div class="form">
      <mat-form-field color="accent">
        <input matInput #input class="form-control" placeholder="Id" [(ngModel)]="data.id" name="id" required disabled>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
  
    <div class="form">
      <mat-form-field color="accent">
        <input matInput #input class="form-control" placeholder="codigo" [(ngModel)]="data.codigo" name="codigo" required>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
  
    <div class="form">
      <mat-form-field color="accent">
        <input matInput #input class="form-control" placeholder="lugar" [(ngModel)]="data.lugar" name="lugar" required>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
  
    <div class="form">
      <mat-form-field color="accent">
        <input matInput #input class="form-control" placeholder="fecha" [(ngModel)]="data.fecha" name="fecha" type="date" required>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
  


    <div mat-dialog-actions>
      <button mat-button [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1"
        (click)="MODIFICAR(data)">Guardar</button>
      <button mat-button (click)="onNoClick()" tabindex="-1">Cancelar</button>
    </div>
  </form>
</div>