<div class="container">
  <h3 mat-dialog-title>Modificando</h3>

  <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">

    <div class="form">
      <mat-form-field color="accent">
        <input matInput #input class="form-control" placeholder="Id" [(ngModel)]="data.id" name="id" required disabled>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
  
    <div class="form">
      <mat-form-field color="accent">
        <input matInput #input class="form-control" placeholder="codigo" [(ngModel)]="data.codigo" name="codigo" required>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
    <div class="form">
        <mat-form-field color="accent">
            <span matPrefix>%&nbsp;</span>

          <input matInput #input class="form-control" placeholder="Porcentaje" [(ngModel)]="data.porcentaje" name="porcentaje" required>
          <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>
  
    <div class="form">
      <mat-form-field color="accent">
        <input matInput #input class="form-control" placeholder="lugar" [(ngModel)]="data.lugar" name="lugar" required>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
  
    <div class="form">
      <mat-form-field color="accent">
        <input matInput #input class="form-control" placeholder="fecha" [(ngModel)]="data.fecha" name="fecha" type="date" required>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
  


   

    <div mat-dialog-actions >
        <button class="btn btn-success" [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1"
          (click)="MODIFICAR(data)" style="margin-left: 25px; margin-right: 25px;">Guardar</button>
        <button class="btn btn-danger" (click)="onNoClick()" tabindex="-1">Cancelar</button>
      </div>
  </form>
</div>