body{
    margin: 0;
    padding: 0;
    background: #34495e;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "montserrat",sans-serif;
  }



  /* color para el encabezado de las tablas */
  /* .mat-header-cell{
    background: #36304a;
    color: white;
  } */
  .Tit{
    background: none;
    color:white;
    font-size: 40px;
  }
  .text-info {
    /* background: #36304a; */
    color: #ffffff !important;
  }
  .mat-toolbar-row, .mat-toolbar-single-row {
    background-color: #36304a;
    height: 64px;
    width: 1240px;
    margin-left: 64px;
    -moz-border-radius: 8px 30px 112px 0px;
    color: white;
    border-radius: 19px 19px 0px 0px;
}


.uno{
  color: white;
  background-color: #36304a;
  border-radius: 0px 0px 0px 10px;
  margin-left: 64px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.dos{
  color: white;
  background-color: #36304a;
}

.tres{
  color: white;
  background-color: #36304a;
  border-radius: 0px 0px 10px 0px;
  margin-right: 62px;
}

  .loading{
    width: 200px;
    height: 200px;
    box-sizing: border-box;
    border-radius: 50%;
    border-top: 10px solid #e74c3c;
    position: relative;
    animation: a1 2s linear infinite;

  }

  .loading::before,.loading::after{
    content: '';
    width: 200px;
    height: 200px;
    position: absolute;
    left: 0;
    top: -10px;
    box-sizing: border-box;
    border-radius: 50%;
  }

  .loading::before{
    border-top: 10px solid #56CA06;
    transform: rotate(120deg);
  }

  .loading::after{
    border-top: 10px solid #09A6EA;
    transform: rotate(240deg);
  }

  .loading span{
    position: absolute;
    width: 200px;
    height: 200px;
    color: #000;
    text-align: center;
    line-height: 200px;
    animation: a2 2s linear infinite;
  }

  @keyframes a1 {
    to{
      transform: rotate(360deg);
    }
  }

  @keyframes a2 {
    to{
      transform: rotate(-360deg);
    }
  }

/* Structure */
.container {
  display: flex;
  flex-direction: column;
}

/* Toolbar */
.spacer {
  flex: 1 1 auto;
}

/* Filter */
.form {
  min-height: 56px;
  max-height: 56px;
  display: flex;
  align-items: center;
  padding: 8px 24px 0;
  font-size: 20px;
  justify-content: space-between;
  border-bottom: 1px solid transparent;
}

.mat-form-field {
  font-size: 14px;
  flex-grow: 1;
  margin-top: 8px;
}

/* Mat table */
.no-results {
  display: flex;
  justify-content: center;
  padding: 14px;
  font-size: 14px;
  font-style: italic;
}


mat-header-cell, mat-cell  {
display:flex;
justify-content: center;
}
    
