<mat-toolbar color="primary">
  <span>Escuelas</span>
  <span class="spacer"></span>
  Recargar datos:
  <button mat-icon-button (click)="refresh()">
    <mat-icon>refresh</mat-icon>
  </button>
</mat-toolbar>

<div class="container mat-elevation-z8">

  <div class="form">
    <mat-form-field floatPlaceholder="never" color="accent">
      <input matInput #filter placeholder="Buscar...">
    </mat-form-field>
  </div>

  <mat-table #table [dataSource]="dataSource" matSort class="mat-cell">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- ID Column -->
    <ng-container matColumnDef="idesc">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
      <mat-cell *matCellDef="let row" >{{row.idesc}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="nombre">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.nombre}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="representante">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Representante</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.representante}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="direccion">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Dirección</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.direccion}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="telefono">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Telefono</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.telefono}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="correo">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Correo</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.correo}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="icons">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Acciones</mat-header-cell>
      <mat-cell *matCellDef="let row; let i=index;">
        <button mat-icon-button color="accent" (click)="onUpdate(i, row.idtper, row.tipo)">
          <mat-icon aria-label="Edit">edit</mat-icon>
        </button>

        <button mat-icon-button color="accent" (click)="delete(row.idper)">
          <mat-icon aria-label="Delete">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>


  <div class="no-results" [style.display]="dataSource.renderedData.length == 0 ? '' : 'none'">
    Cargando...
  </div>

  <mat-paginator #paginator
                 [length]="dataSource.filteredData.length"
                 [pageIndex]="0"
                 [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
</div>