hr{
    background-color: #db36a4; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-align: center;
    width: 70%;
    height: 1px;
    }
.title{
    text-align: center;
}
mat-form-field {
    align-items: center;
    width: 200px;
    margin: 0px;
    padding: 0px;
  }

input 
{
    width: 100%;
}