<!-- <div class="form-group" style="height: 170px;">

  <form #formControl="ngForm">

      <div class="container">
          <div class="row">
            <div class="col-xl-12 title">
              <h3 >Agregar área de conocimiento</h3>
            </div>
          </div>
          <hr/>
   

    <div class="row col-xl-12">
        <div class="row col-xl-3">
        </div>
        <div class="form col-xl-8">
          <mat-form-field  >
            <input  matInput #input   placeholder="Nombre" [(ngModel)]="data.nombre" name="nombre" required>
            <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>
        </div>
        <div class="row col-xl-1">
        </div>
   </div>
  <br>
    <div mat-dialog-actions >
      <button class="btn btn-success next" [disabled]="!formControl.valid" [mat-dialog-close]="1"
(click)="corfirmAdd(data)">Guardar</button>
      <button class="btn btn-danger" (click)="onNoClick()" tabindex="-1">Cancelar</button>
  </div>
</div>
  </form>
</div> -->

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3 class="text-center">Agregar nueva Area</h3>
    </div>
  </div>
<br>
  <div class="row">
    <form #formControl="ngForm">
      <div class="col-md-12">
        <mat-form-field>
          <input type="text" #input matInput placeholder="Area del conocimiento" [(ngModel)]="data.nombre" name="nombre" class="text-center" required>
          <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>
    </form>
  </div>
<br>
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-6">
        <button class="btn btn-success next" [disabled]="!formControl.valid" [mat-dialog-close]="1"
        (click)="corfirmAdd(data)">Guardar</button>
      </div>
      <div class="col-md-6">
        <button class="btn btn-danger" (click)="onNoClick()" tabindex="-1">Cancelar</button>
      </div>
    </div>
  </div>

</div>