<div class="form-group">
  

  <form  (ngSubmit)="submit" #formControl="ngForm">

      <div class="container">
          <div class="row">
            <div class="col-xl-12">
              <h3 >Agregar área de conocimiento</h3>
            </div>
          </div>
          <hr/>
   

    <div class="row col-xl-12">

    <div class="form col-xl-4">
      <mat-form-field color="accent" >
        <input  matInput #input   placeholder="Nombre" [(ngModel)]="data.nombre" name="nombre" required>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
  </div>


  <br>

    <div mat-dialog-actions >
      <button class="btn btn-success" [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1"
(click)="corfirmAdd(data)">Guardar</button>
      <button class="btn btn-danger" (click)="onNoClick()" tabindex="-1">Cancelar</button>

  </div>
</div>
  </form>
</div>