<h3>Asignación de grupos</h3>
    <form>
      <div class="row"> 

        <div class="form col-md-4">
          <mat-form-field>
            <mat-label>Seleccione un dia</mat-label>
            <mat-select [(value)]="diavalue" [(ngModel)]="dia.iddia" name="iddia" required (selectionChange)="diasChange(dia)">
              <mat-option value="1" (click)="diaName('Lunes')">Lunes</mat-option>
              <mat-option value="2" (click)="diaName('Martes')">Martes</mat-option>
              <mat-option value="3" (click)="diaName('Miercoles')">Miércoles</mat-option>
              <mat-option value="4" (click)="diaName('Jueves')">Jueves</mat-option>
              <mat-option value="5" (click)="diaName('Viernes')">Viernes</mat-option>
              <mat-option value="6" (click)="diaName('Sábado')">Sábado</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="form col-md-4">

          <mat-form-field>

            <mat-label>
              <mat-spinner [ngStyle]="{'display':spinerh}" diameter="15" class="text-success"></mat-spinner><span
                [ngStyle]="{'display':labelh}">Seleccione un horario</span>
            </mat-label>
            <mat-select [(value)]="horavalue" required [(ngModel)]="hora.idh" (selectionChange)="horasChange(hora)" name="idh">
              <mat-option (click)="horaName(ho)" *ngFor="let ho of _allHoras" [value]="ho.idh" [ngStyle]="{'display':labelh}">
                {{ho.hora}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="form col-md-4">
          <mat-form-field>
            <mat-label>
              <mat-spinner [ngStyle]="{'display':spinnerp}" diameter="15"></mat-spinner> <span
                [ngStyle]="{'display':labelp}">Seleccione un personal</span>
            </mat-label>
            <mat-select [(value)]="pervalue" [(ngModel)]="idgrupo"  name="idgrupo" required (selectionChange)="personalChange(idgrupo)">
              <mat-option (click)="perName(per)" *ngFor="let per of _allPersonal" value="{{per.iddgru}}" [ngStyle]="{'display':labelp}">
                {{per.nombre}} {{per.apellidos}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
        <button mat-raised-button (click)="stopEdit()" routerLinkActive="router-link-active" [mat-dialog-close]="1">
          Guardar</button>

        <button mat-raised-button > Cancelar</button>
    </form>