<div class="container" style="height:400px;">
  <h3 mat-dialog-title style="text-align: center;">Nuevo registro</h3>

  <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm" style="height: 370px;">

    <div class="form">
      <mat-form-field color="accent">
        <input matInput placeholder="Nombre" [(ngModel)]="data.nombre" name="nombre">
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <input matInput placeholder="Dirección" [(ngModel)]="data.direccion" name="direccion">
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <input matInput placeholder="Encargado" [(ngModel)]="data.encargado" name="encargado">
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <input matInput placeholder="Usuario" [(ngModel)]="data.usuario" name="usuario">
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <input matInput placeholder="Password" [(ngModel)]="data.psw" name="psw">
      </mat-form-field>
    </div>

    <div mat-dialog-actions>
      <button class="btn btn-success" [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="confirmAdd()" style="margin: 0px 40px 0 10px;">Guardar</button>
      <button class="btn btn-danger" (click)="onNoClick()" tabindex="-1">Cancelar</button>
    </div>
  </form>
</div>
